@media (max-width: 768px) {
    header {
        height: 50vw !important;
    }

    .navbar-collapse {
        justify-content: flex-end;
        text-align: end;
    }

    .navbar-nav {
        right: 5.7vw !important;
        top: 12vw !important;
    }

    .nav-link {
        font-size: 0.75em;
        line-height: 0.3em;
        margin-left: 0;
    }

    .navbar-brand {
        top: 3vh;
        width: 34.1121vw !important;
    }
}