header {
    height: 18.7368vw; /* 356px / 1900px * 100 */
    padding-top: 1.1447vh; /* 21.75px / 1900px * 100 */
    position: relative;
}
.navbar {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    position: absolute;
    top: 1.1447vh; /* 21.75px / 1900px * 100 */
    width: 100%;
}
.navbar-brand {
    height:10.21vh; /*7.3158 139px / 1900px * 100 */
    margin: auto;
    margin-top: 3vw;
    position: relative;
    width: 20.7368vw; /*17.8421vw 339px / 1900px * 100 */
}
.navbar-brand img {
    width: 100%;
    height: auto;
}

.navbar-toggler {
    color: transparent;
    display: block;
    margin-right: 2vw;
    position: fixed;
    right: 0.05vw;
    top: 2vw;
    z-index: 999;
}

.navbar-toggler, .navbar-toggler:active, .navbar-toggler:focus, .navbar-toggler:hover {
    border: none;
}

.navbar-nav {
    flex-direction: column;
    position: fixed;
    right: 2.85vw;
    top: 3.8vw;
    z-index: 999;
}
.nav-link {
    text-align: end;
}

.nav-link:visited {
    color: #fff;
}

.nav-link:hover, .nav-link:focus{
    color: cyan;
}

.navbar-toggler:hover .navbar-toggler-icon,
.navbar-toggler:active .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}