header {
    height: 18.7368vh; /* 356px / 1900px * 100 */
    padding-top: 1.1447vh; /* 21.75px / 1900px * 100 */
    position: relative;
}
.navbar {
    position: absolute;
    top: 1.1447vh; /* 21.75px / 1900px * 100 */
    width: 100%;
}
.navbar-brand {
    height: 7.3158vh; /* 139px / 1900px * 100 */
    left: 40vw;
    margin: auto;
    position: relative;
    width: 17.8421vw; /* 339px / 1900px * 100 */
}
.navbar-brand img {
    width: 100%;
    height: auto;
}
.navbar-nav {
    position: absolute;
    bottom: 1.3158vh; /* 50px / 1900px * 100 */
    right: 10.2632vw; /* 195px / 1900px * 100 */
}
.nav-link {
    margin-left: 1.8421vw; /* 35px / 1900px * 100 */
}

.nav-link:visited {
    color: #fff;
}

.nav-link:hover, .nav-link:focus{
    color: cyan;
}