@media (min-width: 769px) and (max-width:1023px) {

    /* --------- First section backgrounds ---------*/

    a.grouch.pt-40{
        font-size: 1.8em;
    }
  
      div.parallax-section article.parallax-article:hover div.caption-container a {
        font-size: 2.3em !important;
        translate: translateY(-10px);
      }

      #proyectos div.parallax-section article.parallax-article:hover div.caption-container a {
        font-size: 1.2em !important;
    }  

    /* --------- Projects backgrounds ---------*/
    
    .grouch.pt-22 {
        font-size: 1em;
      }
    
      .grouch.pt-18 {
        font-size: 0.8em;
      }


    /* --------- Carousel ---------*/
    
    .carousel-caption .grouch {
        font-size: 1.5em;
      }

    /* --------- Staff ---------*/
    
    #equipo > div > div > .kabel-med.pt-30 {
        font-size: 1.3em;
      }
  
      #equipo > div:first-child {
        margin-bottom: 2.625vw !important;
      }
  
      .staff-row-wrapper {
        gap: 5vw !important;
      }
  
      .staff-row-wrapper.mb-42px {
        margin-bottom: 5vw;
      }
  
      .staff-caption .pt-16 {
        font-size: 0.818em;
      }
  
      .staff-caption .pt-14 {
        font-size: 0.715em;
      }
  
      .staff-caption h5 {
        margin-bottom: 0.7rem;
      }
  
      .staff-caption p {
        margin-bottom: 0;
      }

    /*------- form ------*/

    #contacto > div.form-wrapper > form > div.btn-wrapper > button.btn {
        height: 4vw !important;
        font-size: 0.6rem !important;
        width: 10vw !important;
      }
}