.parallax-article {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 50vw 100vh;
    height: 100vh;
    padding: 0;
    transition: background-image 0.3s ease-in-out;
}

/* --------- First section backgrounds ---------*/

.caption-container, .carousel-caption, .staff-caption {
    background-color: #2F2F2F50;
    border-radius: 10px;
    width: fit-content;
}

.parallax-section > .bg-img-projects {
    background-image: url("/img/fotos version 1900x--/fotos seccion1 web T2F/proyectos1 fondo.png");
    background-position: left center;
}

.parallax-section > .bg-img-services{
    background-image: url("/img/fotos version 1900x--/fotos seccion1 web T2F/servicios.png");
    background-position: right center;
}

.parallax-section > .bg-img-us{
    background-image: url("/img/fotos version 1900x--/fotos seccion1 web T2F/sobre nosotros.png");
    background-position: left center;
}

.parallax-section > .bg-img-staff {
    background-image: url("/img/fotos version 1900x--/fotos seccion1 web T2F/fondo nuestro equipo.png");
    background-position: right center;
}

.parallax-section > .bg-img-partners {
    background-image: url("/img/fotos version 1900x--/fotos seccion1 web T2F/aliados fondo sin silla 950 x 956.png");
    background-position: left center;
}

.parallax-section > .bg-img-contact{
    background-image: url("/img/fotos version 1900x--/fotos seccion1 web T2F/contactanos.png");
    background-position: right center;
}

.parallax-section > .bg-img-projects.focus, .parallax-section > .bg-img-projects:hover {
    background-image: url("/img/fotos version 1900x--/fotos seccion1 web T2F/proyectos con gente1.png");
}

.parallax-section > .bg-img-partners.focus, .parallax-section > .bg-img-partners:hover {
    background-image: url("/img/fotos version 1900x--/fotos seccion1 web T2F/aliados silla.png");
}

.parallax-section > .bg-img-partners.focus, .parallax-section > .bg-img-staff:hover {
    background-image: url("/img/fotos version 1900x--/fotos seccion1 web T2F/nuestro equipo.png");
}

.reel {
    height: 31.3684vw;
    width: 50vw;
}


/* --------- About us ---------*/

.video-container {
    position: relative;
    display: inline-block;
}

.play-button {
    background: none;
    border: none;
    cursor: pointer;
}

.play-button svg {
    width: 64px;
    height: 64px;
    color: white;
}

.video-container:hover .play-button svg {
    color: cyan;
}


/* --------- Projects backgrounds ---------*/

.parallax-section > .bg-img-fumo {
    background-image: url("/img/fotos version 1900x--/Fotos seccion2  proyectos/video clip fumo y bebo 950 x 956.png");
    background-position: left center;
}

.parallax-section > .bg-img-restos {
    background-image: url("/img/fotos version 1900x--/Fotos seccion2  proyectos/coming soon los restos de la cama- coproductores 950 x 956.png");
    background-position: right center;
}

.parallax-section > .bg-img-opening {
    background-image: url("/img/fotos version 1900x--/Fotos seccion2  proyectos/opening concierto 950 x 956.png");
    background-position: left center;
}
.parallax-section > .bg-img-tarde  {
    background-image: url("/img/fotos version 1900x--/Fotos seccion2  proyectos/video clip Volviste tarde 950 x 956.png");
    background-position: right center;
}
.parallax-section > .bg-img-transmi {
    background-image: url("/img/fotos version 1900x--/Fotos seccion2  proyectos/Transmileniasls piloto coproductores 950 x 956.png");
    background-position: left center;
}
.parallax-section > .bg-img-pipe {
    background-image: url("/img/fotos version 1900x--/Fotos seccion2  proyectos/concierto 15 años ppipe bueno 950 x 956.png");
    background-position: right center;
}
.parallax-section > .bg-img-behind {
    background-image: url("/img/fotos version 1900x--/Fotos seccion2  proyectos/Behind the scenes - pipe bueno 950 x 956.png");
    background-position: left center;
}
.parallax-section > .bg-img-fuera {
    background-image: url("/img/fotos version 1900x--/Fotos seccion2  proyectos/Podcast fuera de set 950 x 956.png");
    background-position: right center;
}
.parallax-section > .bg-img-misteriosa {
    background-image: url("/img/fotos version 1900x--/Fotos seccion2  proyectos/Misteriosa - piloto coproductores 950 x 956.png");
    background-position: left center;
}
.parallax-section > .bg-img-nono {
    background-image: url("/img/fotos version 1900x--/Fotos seccion2  proyectos/videoclip no me digas queno 950 x 956.png");
    background-position: right center;
}
.parallax-section > .bg-img-cantina {
    background-image: url("/img/fotos version 1900x--/Fotos seccion2  proyectos/Videoclip la cantina 950 x 956.png");
    background-position: left center;
}
.parallax-section > .bg-img-casa {
    background-image: url("/img/fotos version 1900x--/Fotos seccion2  proyectos/Capsulas - la casa del diseño colombiano 950 x 956.png");
    background-position: right center;
}
.parallax-section > .bg-img-movistar {
    background-image: url("/img/fotos version 1900x--/Fotos seccion2  proyectos/concierto moviestar 950 x 956.png");
    background-position: left center;
}
.parallax-section > .bg-img-off {
    background-image: url("/img/fotos version 1900x--/Fotos seccion2  proyectos/COMING SOON podcast voz en off 950 x 956.png");
    background-position: right center;
}

/* --------- Carousel ---------*/

.carousel-item {
    height: 31.3684vw; /* Relative height for 596px at 1900px width */
    max-height: 596px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-caption {
    top: 50%;
    transform: translate(-50%, -50%);
    bottom: initial;
}

.caption-left {
    left: 25%;
}

.caption-right {
    left: 75%;
}

.carousel-item > .row > div, #customCarousel {
    padding: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: transparent;
    border: 1px solid transparent;
    height: 60px;
    width: 40px;
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #424242; /* Default color */
}

.carousel-control-prev-icon::before {
    mask-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'none\' viewBox=\'0 0 16 16\'%3e%3cpath fill-rule=\'evenodd\' d=\'M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z\'/%3e%3c/svg%3e');
}

.carousel-control-next-icon::before {
    mask-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'none\' viewBox=\'0 0 16 16\'%3e%3cpath fill-rule=\'evenodd\' d=\'M4.646 14.354a.5.5 0 0 1 0-.708L10.293 8 4.646 2.354a.5.5 0 1 1 .708-.708l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708 0z\'/%3e%3c/svg%3e');
}

.carousel-control-prev:hover .carousel-control-prev-icon::before,
.carousel-control-next:hover .carousel-control-next-icon::before,
.carousel-control-prev:focus .carousel-control-prev-icon::before,
.carousel-control-next:focus .carousel-control-next-icon::before {
    background-color: #ffffff; /* Hover and active color */
}

.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev,
.carousel-inner .active {
    transition: transform 0.6s ease-in-out;
}


#equipo > div > div > div > .card {
    /* border: #ffffff 1px solid; */
    min-height: 23.5vw;
    position: relative;
}

#equipo > div > div > div > .card > .card-body > a.btn {
    bottom: 1vw;
    position: absolute;
    left: 39%;
}

/* --------- Staff ---------*/

.staff-row-wrapper {
    gap: 2.21vw;
}

.wrapper-1 {
    margin-top: 3.895vw;
}

.card-wrapper {
    position: relative;
}

.card-wrapper, .card-img-bg {
    height: 12.736vw;
    width: 12.736vw;
}

.staff-caption {
    position: absolute;
    transition: visibility 0.3s ease-in;
    visibility: hidden;
}

.card-wrapper:hover .staff-caption {
    visibility: visible;
}


/* --------- Aliados ---------*/

section#aliados > div.brands-3 {
    padding-left: 8vw;
    padding-right: 8vw;
}

img.l-tengo, img.proyectil {
    width: 20vw;
}

img.casa-dc {
    width: 35vw;
}

img.FHC, img.PipeB {
    width: 15vw;
}

section#aliados div:last-child {
    gap: 10vw;
}

/* --------- Modals ---------*/

.modal {
    --bs-modal-width: inherit !important;
    --bs-modal-header-border-color: none;
}

.modal.fade {
    margin-top: 3vw;
}

.modal-wrapper {
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    min-height: 38.9vw;
}

.modal-wrapper, .modal-content, .modal-header, .modal-body {
    width: 60vw;
}

.modal-dialog {
    margin-top: 0;
}

button.btn-closing {
    background: transparent;
    border: none;
    height: 4em;
    width: 4em;
}

iframe.video-viewer {
    height: 25vw;
    margin-top: 0.3vw;
    width: 50vw;
}

div.iframe-text {
    padding-top: 1.5vw;
}

div.iframe-text, div.bio-text {
    padding-left: 2vw;
    padding-right: 2vw;
}

div.modal-header {
    padding-left: 3vw;    
}

.modal.fade.bio-modal {
    margin-top: 5vw;
}

div.bio-text {
    position: relative;
    top: -1.5vw;
}

.imdb-logo {
    height: 2vw;
    width: 3vw;
}

/*------- CSS to add blur effect ------*/
.blur-background {
    filter: blur(10px);
}

.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    transform: translate(0, 0);
}

.modal.fade.show .modal-dialog {
    transform: translate(0, 0);
}


/*------- form ------*/

#contacto {
    padding-top: 4vw;
}

.mb-form {
    margin-bottom: 2.1052vw;
}

#contacto > div.form-wrapper > form > div.btn-wrapper > button.btn {
    height: 2.1052vw;
    width: 4.3157vw;
}

#contacto > div.form-wrapper > form > div.btn-wrapper > button.btn:hover {
    background-color: #000000;
    border: #ffffff 1px solid;
    color: #ffffff !important;
}

/*------- animations ------*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInUpBig {
    0% {
      opacity: 0;
      -webkit-transform: translateY(2000px);
      transform: translateY(2000px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInUpBig {
    0% {
      opacity: 0;
      -webkit-transform: translateY(2000px);
      -ms-transform: translateY(2000px);
      transform: translateY(2000px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  .fadeInUpBig {
    -webkit-animation-name: fadeInUpBig;
    animation-name: fadeInUpBig;
  }

  #start div.parallax-section article.parallax-article div.caption-container a, #proyectos div.parallax-section article.parallax-article div.caption-container a {
    transition: font-size 0.3s ease, transform 0.3s ease;
}

  #start div.parallax-section article.parallax-article:hover div.caption-container a {
    font-size: 2.9em;
    translate: translateY(-10px);
  }

  #proyectos div.parallax-section article.parallax-article:hover div.caption-container a {
    font-size: 1.2em;
  }