@media (max-width: 768px) {
    .parallax-article {
      background-size: 50vw 100%!important;
      /* background-attachment: scroll !important; */
      /* height: 59.813vw !important; */
      height: 28.2vh !important;
    }

    /* --------- First section backgrounds ---------*/

    main > section:first-child, main > div:nth-child(2).mb-115px > div{
      margin-bottom: 19.16vw !important;
    }

    .parallax-section > .bg-img-projects {
      background-image: url("/img/fotos version mobile 428 X 908/seccion1/1-1 fondo proyectos 214X322.png") !important;
    }

    .parallax-section > .bg-img-services{
      background-image: url("/img/fotos version mobile 428 X 908/seccion1/2-Servicios 214 x 322.png") !important;
    }

    .parallax-section > .bg-img-us{
      background-image: url("/img/fotos version mobile 428 X 908/seccion1/5-Sobre nosotros 214 X 322.png") !important;
    }

    .parallax-section > .bg-img-staff {
      background-image: url("/img/fotos version mobile 428 X 908/seccion1/3-1nuestro equipo fondo 214 x 322.png") !important;
    }

    .parallax-section > .bg-img-partners {
      background-image: url("/img/fotos version mobile 428 X 908/seccion1/4-1fondo aliados 214X322.png") !important;
    }

    .parallax-section > .bg-img-contact{
      background-image: url("/img/fotos version mobile 428 X 908/seccion1/6-contactanos 214X322.png") !important;
    }

    .parallax-section > .bg-img-projects.focus, .parallax-section > .bg-img-projects:hover {
      background-image: url("/img/fotos version mobile 428 X 908/seccion1/1-2proyectos con gente 214x322.png") !important;
    }

    .parallax-section > .bg-img-partners.focus, .parallax-section > .bg-img-partners:hover {
      background-image: url("/img/fotos version mobile 428 X 908/seccion1/4-2aliados con silla 214X322.png") !important;
    }

    .parallax-section > .bg-img-partners.focus, .parallax-section > .bg-img-staff:hover {
      background-image: url("/img/fotos version mobile 428 X 908/seccion1/3-2nuestro equipo 214 x 322.png") !important;
    }

    a.grouch.pt-40{
      font-size: 1em;
    }

    div.parallax-section article.parallax-article:hover div.caption-container a {
      font-size: 1.2em !important;
      translate: translateY(-10px);
    }
  
    #proyectos div.parallax-section article.parallax-article:hover div.caption-container a {
      font-size: 1em;
    }

    .kabel-demi.pt-55 {
      font-size: 1.8275em;
    }
  
    p.popps-r.pt-18{
      font-size: 0.914em;
    }
  
    #nosotros > div > div.p-36842, #servicios > div:first-child > div{
      padding-bottom: 0;
      padding-left: 13.6842vw;
      padding-right: 13.6842vw;
    }
  
    #nosotros > div:last-child {
      margin-top: 19.16vw;
    }
  
    #nosotros > div:last-child > h5.pt-30 {
      font-size: 1.5em;
    }

    #nosotros > div:last-child > h5.pt-30:nth-child(2) {
      margin-bottom: 13.6842vw;
    }
  
    #nosotros > div:last-child > div {
      padding-left: 6.8921vw;
      padding-right: 6.8921vw;
    }
  
    #proyectos > div:first-child > h4 {
      margin-bottom: 9.81vw;
    }
  
    .grouch.pt-22 {
      font-size: 0.597em;
    }
  
    .grouch.pt-18 {
      font-size: 0.65em;
    }

    #proyectos {
      margin-bottom: 19.29vw;
    }

    .p-3 {
      padding: 0.3rem !important;
    }


    /* --------- Projects backgrounds ---------*/

  .parallax-section > .bg-img-antitusa {
      background-image: url("/img/fotos version mobile 428 X 908/seccion 2 proyectos/1-Serie-Tips Antitusa  214 x 322.png") !important;
  }
  
  .parallax-section > .bg-img-restos {
      background-image: url("/img/fotos version mobile 428 X 908/seccion 2 proyectos/2-Coming soon cortometraje los restos de la cama coproductores 214x322.png") !important;
  }
  
  .parallax-section > .bg-img-opening {
      background-image: url("/img/fotos version mobile 428 X 908/seccion 2 proyectos/3-opening concierto 214 x 322.png") !important;
  }
  
  .parallax-section > .bg-img-fumo {
      background-image: url("/img/fotos version mobile 428 X 908/seccion 2 proyectos/4-videoclip fumo y bebo 214 x 322 .png") !important;
  }
  
  .parallax-section > .bg-img-transmi {
      background-image: url("/img/fotos version mobile 428 X 908/seccion 2 proyectos/5-transmilenials piloto coproductores 214x322.png") !important;
  }
  .parallax-section > .bg-img-pipe {
      background-image: url("/img/fotos version mobile 428 X 908/seccion 2 proyectos/6-concierto 15 aคos pipe bueno 214x322.png") !important;
  }
  
  .parallax-section > .bg-img-tarde  {
      background-image: url("/img/fotos version mobile 428 X 908/seccion 2 proyectos/7-video clip volviste tarde 214x322.png") !important;
  }
  
  .parallax-section > .bg-img-fuera {
      background-image: url("/img/fotos version mobile 428 X 908/seccion 2 proyectos/8-podcast - fuera de set  214 x 322 .png") !important;
  }
  .parallax-section > .bg-img-misteriosa {
      background-image: url("/img/fotos version mobile 428 X 908/seccion 2 proyectos/9-misteriosa coproductores 214 x 322 .png") !important;
  }
  .parallax-section > .bg-img-nono {
      background-image: url("/img/fotos version mobile 428 X 908/seccion 2 proyectos/10-video clip no me digas que no  214x322.png") !important;
  }
  .parallax-section > .bg-img-cantina {
      background-image: url("/img/fotos version mobile 428 X 908/seccion 2 proyectos/11-video clip la cantina 214x322.png") !important;
  }
  .parallax-section > .bg-img-casa {
      background-image: url("/img/fotos version mobile 428 X 908/seccion 2 proyectos/12-capsulas la casa del diseคo colombiano 214 x 322.png") !important;
  }
  .parallax-section > .bg-img-movistar {
      background-image: url("/img/fotos version mobile 428 X 908/seccion 2 proyectos/13-concierto moviestar arena 214 x 322.png") !important;
  }
  .parallax-section > .bg-img-off {
      background-image: url("/img/fotos version mobile 428 X 908/seccion 2 proyectos/14-Coming soon Podcast Voz en OFF 214 x 322 .png") !important;
  }

/* --------- Projects  ---------*/

  #proyectos .caption-container.grey-wrapper.p-3{
    max-width: 83%;
    min-width: 82%;
    padding: 0.07rem !important;
  }

  #proyectos div.parallax-section article.parallax-article:hover div.caption-container {
    max-width: 85%;
  }

  #proyectos div.parallax-section article.parallax-article .caption-container .grouch.pt-22 {
    font-size: 0.7em;
  }

  #proyectos div.parallax-section article.parallax-article .caption-container .grouch.pt-18, #proyectos div.parallax-section article.parallax-article.proj-art-1 .caption-container .grouch.pt-22, #proyectos div.parallax-section article.parallax-article.proj-art-3 .caption-container .grouch.pt-22 {
    font-size: 0.6em;
  }

  #proyectos div.parallax-section article.parallax-article.proj-art-4 .caption-container .grouch.pt-22 {
      font-size: 0.5em;
  }

  #proyectos div.parallax-section article.parallax-article.proj-art-5 .caption-container .grouch.pt-22, #proyectos div.parallax-section article.parallax-article.proj-art-11 .caption-container .grouch.pt-22, #proyectos div.parallax-section article.parallax-article.proj-art-12 .caption-container .grouch.pt-22 {
      font-size: 0.5em;
  }

  #proyectos div.parallax-section article.parallax-article.proj-art-6 .caption-container .grouch.pt-22 {
      font-size: 0.45em;
  }

  #proyectos div.parallax-section article.parallax-article.proj-art-7 .caption-container .grouch.pt-22, #proyectos div.parallax-section article.parallax-article.proj-art-8 .caption-container .grouch.pt-22, #proyectos div.parallax-section article.parallax-article.proj-art-13 .caption-container .grouch.pt-22 {
      font-size: 0.45em;
  }

  #proyectos div.parallax-section article.parallax-article.proj-art-9 .caption-container .grouch.pt-22 {
      font-size: 0.7em;
  }

  #proyectos div.parallax-section article.parallax-article.proj-art-10 .caption-container .grouch.pt-22 {
      font-size: 0.5em;
  }

  h3 p {
    margin-bottom: 0.5rem;
  }


    /* --------- Carousel ---------*/

    #servicios > div:last-child {
      justify-content: center;
    }

    #customCarousel {
      height: 58.41vw;
      width: 87.62vw;
    }

    .carousel-inner {
       height: 100%;
    }

    .carousel-caption {
      top: 25%;
    }

    .caption-left {
      left: 0;
    }

    .caption-right {
      left: 50%;
    }


    /* --------- Staff ---------*/

    #equipo > div > div > .kabel-med.pt-30 {
      font-size: 1.3em;
    }

    #equipo > div:first-child {
      margin-bottom: 2.625vw !important;
    }

    .card-wrapper, .card-img-bg {
      height: 34.81vw !important;;
      width: 34.81vw !important;
    }

    .staff-row-wrapper {
      gap: 5vw !important;
    }

    .staff-row-wrapper.mb-42px {
      margin-bottom: 5vw;
    }

    .staff-caption .pt-16 {
      font-size: 0.818em;
    }

    .staff-caption .pt-14 {
      font-size: 0.715em;
    }

    .staff-caption h5 {
      margin-bottom: 0.7rem;
    }

    .staff-caption p {
      margin-bottom: 0;
    }

    .staff-row-wrapper:first-child .staff-caption.wrapper-1:nth-child(3) {
      margin-top: 12vw;
    }
    
    .staff-row-wrapper:first-child .staff-caption.wrapper-1:first-child, .staff-row-wrapper:first-child .staff-caption.wrapper-1:nth-child(2) {
      margin-top: 12vw;
    }



  /* --------- Partners ---------*/

    #aliados > div:first-child, #aliados > div:nth-child(2), #contacto > div:first-child, form > div:first-child{
      margin-bottom: 2.475vw !important;
    }

  /*------- form ------*/

    .mb-form {
      margin-bottom: 4.1052vw !important;
    }

    .btn-wrapper {
      margin-top: 6.1052vw !important;
    }

    #contacto > div.form-wrapper > form > div.btn-wrapper > button.btn {
      height: 10vw !important;
      width: 18vw !important;
    }

    .form-control {
      font-size: 0.8em;
    }

    /* --------- Modals ---------*/

    .modal-wrapper, .modal-content, .modal-header, .modal-body {
      width: 87vw !important;
  }

  }