@media (min-width: 1024px) and (max-width: 1899px) {

    .parallax-article {
        height: 57.88vh;
    }

    .parallax-img, .parallax-article picture {
        display: none;
        visibility: hidden;
    }

    a.grouch.pt-40{
      font-size: 2.5em;
    }

    main section:first-child .parallax-section:nth-child(2) a {
        font-size: 2.3em;
    }

    /* --------- First section backgrounds ---------*/
    
    
    .parallax-section > .bg-img-projects {
        background-image: url("/img/fotos_version_1024x816_version_portatil/seccion1_fotos/1-1proyectos_fondo_682x512.png") !important;
    }

    .parallax-section > .bg-img-services{
        background-image: url("/img/fotos_version_1024x816_version_portatil/seccion1_fotos/2_servicios_682x512.png") !important;
    }

    .parallax-section > .bg-img-us{
        background-image: url("/img/fotos_version_1024x816_version_portatil/seccion1_fotos/3_sobre_nosotros_682x512.png") !important;
    }

    .parallax-section > .bg-img-staff {
        background-image: url("/img/fotos_version_1024x816_version_portatil/seccion1_fotos/4_nuestro_equipo_fondo_682x512.png") !important;
    }

    .parallax-section > .bg-img-partners {
        background-image: url("/img/fotos_version_1024x816_version_portatil/seccion1_fotos/5_fondo_aliados_sin_silla_682x512.png") !important;
    }

    .parallax-section > .bg-img-contact{
        background-image: url("/img/fotos_version_1024x816_version_portatil/seccion1_fotos/6_contactanos_682x512.png") !important;
    }

    .parallax-section > .bg-img-projects.focus, .parallax-section > .bg-img-projects:hover {
        background-image: url("/img/fotos_version_1024x816_version_portatil/seccion1_fotos/1_proyectos_682x512.png") !important;
    }

    .parallax-section > .bg-img-partners.focus, .parallax-section > .bg-img-partners:hover {
        background-image: url("/img/fotos_version_1024x816_version_portatil/seccion1_fotos/5-1aliados_con_silla_682x512.png") !important;
    }

    .parallax-section > .bg-img-partners.focus, .parallax-section > .bg-img-staff:hover {
        background-image: url("/img/fotos_version_1024x816_version_portatil/seccion1_fotos/4-1_nuestro_equipo_682x512.png") !important;
    }

    div.parallax-section article.parallax-article:hover div.caption-container a {
        font-size: 2.8em;
        translate: translateY(-10px);
    }

    .kabel-demi.pt-55 {
        font-size: 3.5em;
    }

    p.popps-r.pt-18{
        font-size: 1em;
      }

    #nosotros > div:last-child > h5.pt-30 {
        font-size: 3.16em;
      }  

    #nosotros > div > div.p-36842, #servicios > div:first-child > div{
        padding-bottom: 0;
        padding-left: 3.6842vw;
        padding-right: 3.6842vw;
    }  

    #nosotros > div:last-child {
        margin-top: 13.16vw;
    }
    
    #nosotros > div:last-child > h5.pt-30:nth-child(2) {
        margin-bottom: 13.16vw;
    }

    /* --------- Projects backgrounds ---------*/

  .parallax-section > .bg-img-antitusa {
    background-image: url("/img/fotos_version_1024x816_version_portatil/seccion2_fotos_proyectos/1-Serie-Tips_Antitusa_682x512.png") !important;
    }

    .parallax-section > .bg-img-restos {
        background-image: url("/img/fotos_version_1024x816_version_portatil/seccion2_fotos_proyectos/2-comming_soon_los_restos_de_la_cama_682x512.png") !important;
    }

    .parallax-section > .bg-img-opening {
        background-image: url("/img/fotos_version_1024x816_version_portatil/seccion2_fotos_proyectos/3-Opening_Concierto_682x512.png") !important;
    }

    .parallax-section > .bg-img-fumo {
        background-image: url("/img/fotos_version_1024x816_version_portatil/seccion2_fotos_proyectos/4-Videoclip-Fumo_y_Bebo_682x512.png") !important;
    }

    .parallax-section > .bg-img-transmi {
        background-image: url("/img/fotos_version_1024x816_version_portatil/seccion2_fotos_proyectos/5-Transmilenials_Piloto-Coproductores_682x512.png") !important;
    }
    .parallax-section > .bg-img-pipe {
        background-image: url("/img/fotos_version_1024x816_version_portatil/seccion2_fotos_proyectos/6-Concierto_15_años_Pipe_Bueno_682x512.png") !important;
    }

    .parallax-section > .bg-img-tarde  {
        background-image: url("/img/fotos_version_1024x816_version_portatil/seccion2_fotos_proyectos/7-Videoclip-Volviste_Tarde_682x512.png") !important;
    }

    .parallax-section > .bg-img-fuera {
        background-image: url("/img/fotos_version_1024x816_version_portatil/seccion2_fotos_proyectos/8-Podcast-Fuera_de_Set_682x512.png") !important;
    }
    .parallax-section > .bg-img-misteriosa {
        background-image: url("/img/fotos_version_1024x816_version_portatil/seccion2_fotos_proyectos/9-Misteriosa-Piloto_Coproductores_682x512.png") !important;
    }
    .parallax-section > .bg-img-nono {
        background-image: url("/img/fotos_version_1024x816_version_portatil/seccion2_fotos_proyectos/10-Videoclip-No_me_digas_que_no_682x512.png") !important;
    }
    .parallax-section > .bg-img-cantina {
        background-image: url("/img/fotos_version_1024x816_version_portatil/seccion2_fotos_proyectos/11-Videoclip-La_Cantina_682x512.png") !important;
    }
    .parallax-section > .bg-img-casa {
        background-image: url("/img/fotos_version_1024x816_version_portatil/seccion2_fotos_proyectos/12-Cápsulas-La_Casa_del_Diseño_Colombiano_682x512.png") !important;
    }
    .parallax-section > .bg-img-movistar {
        background-image: url("/img/fotos_version_1024x816_version_portatil/seccion2_fotos_proyectos/13-Concierto_Movistar_Arena_682x512.png") !important;
    }
    .parallax-section > .bg-img-off {
        background-image: url("/img/fotos_version_1024x816_version_portatil/seccion2_fotos_proyectos/14-pod_cast_voz_en_off_coming_soon_682x512.png") !important;
    }

    #proyectos .caption-container.grey-wrapper.p-3{
        max-width: 83%;
        min-width: 82%;
        padding: 0.05rem !important;
    }

    #proyectos div.parallax-section article.parallax-article .caption-container .grouch.pt-22 {
        font-size: 1.8em;
    }

    #proyectos div.parallax-section article.parallax-article .caption-container .grouch.pt-18, #proyectos div.parallax-section article.parallax-article.proj-art-1 .caption-container .grouch.pt-22, #proyectos div.parallax-section article.parallax-article.proj-art-3 .caption-container .grouch.pt-22 {
        font-size: 1.6em;
    }

    #proyectos div.parallax-section article.parallax-article.proj-art-4 .caption-container .grouch.pt-22 {
        font-size: 1.35em;
    }

    #proyectos div.parallax-section article.parallax-article.proj-art-5 .caption-container .grouch.pt-22, #proyectos div.parallax-section article.parallax-article.proj-art-11 .caption-container .grouch.pt-22, #proyectos div.parallax-section article.parallax-article.proj-art-12 .caption-container .grouch.pt-22 {
        font-size: 1.4em;
    }

    #proyectos div.parallax-section article.parallax-article.proj-art-6 .caption-container .grouch.pt-22 {
        font-size: 1.1em;
    }

    #proyectos div.parallax-section article.parallax-article.proj-art-7 .caption-container .grouch.pt-22, #proyectos div.parallax-section article.parallax-article.proj-art-8 .caption-container .grouch.pt-22, #proyectos div.parallax-section article.parallax-article.proj-art-13 .caption-container .grouch.pt-22 {
        font-size: 1.3em;
    }

    #proyectos div.parallax-section article.parallax-article.proj-art-9 .caption-container .grouch.pt-22 {
        font-size: 0.9em;
    }

    #proyectos div.parallax-section article.parallax-article.proj-art-10 .caption-container .grouch.pt-22 {
        font-size: 1em;
    }

    
    /* --------- Carousel ---------*/

    #servicios > div:last-child {
        justify-content: center;
      }
  
    .carousel-caption .pt-30 {
        font-size: 2em;
    }

    /* --------- Staff ---------*/

    #equipo > div > div > .kabel-med.pt-30 {
        font-size: 1.8em;
      }
  
      .card-wrapper, .card-img-bg {
        height: 15vw !important;;
        width: 15vw !important;
      }
  
      .staff-row-wrapper.mb-42px {
        margin-bottom: 5vw;
      }
  
      .staff-caption .pt-16 {
        font-size: 0.818em;
      }
  
      .staff-caption .pt-14 {
        font-size: 0.715em;
      }
  
      .staff-caption h5 {
        margin-bottom: 0.7rem;
      }
  
      .staff-caption p {
        margin-bottom: 0;
      }
      
      /*------- form ------*/

    form {
        width: 100% !important;
    }  

    .mb-form {
        margin-bottom: 3vw !important;
      }
  
      .btn-wrapper {
        margin-top: 2.5vw !important;
      }
  
      #contacto > div.form-wrapper > form > div.btn-wrapper > button.btn {
        height: 5vw !important;
        width: 9vw !important;
      }
  
      .form-control {
        font-size: 1.2em;
      }
}