/* styles.css */
/* Reset de estilos predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* Enlace sin decoración y color inicial */
a {
    text-decoration: none;
    color: inherit;
}

/* Enlace visitado sin cambiar de color */
a:visited {
    color: #fff;
}

/* Quitar subrayado al pasar el ratón */
a:hover, a:focus {
    text-decoration: none;
}

.bg-pblack {
    background-color: #000;
}

.bg-pblackT {
    background-color: #00000085;
}

.text-pwhite {
    color: #fff;
}

.text-justify {
    text-align: justify;
}

.pl-3 {
    padding-left: 3vw;
}

.p-36842 {
    padding: 3.6842vw;
}

.mb-7 {
    margin-bottom: 5.8571rem !important;
}

.mb-42px {
    margin-bottom: 2.21vw;
}

.mb-63px {
    margin-bottom: 3.3157vw;
}

.mb-82px {
    margin-bottom: 4.3157vw;
}

.mb-115px {
    margin-bottom: 6.052vw;
}

.mb-148px {
    margin-bottom: 7.79vw;
}

.mb-200px {
    margin-bottom: 10.526vw;
}

.btn-white {
    background-color: #fff;
}

.popps-r {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.popps-sb {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron regular';
    src: url("/fonts/Aileron-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Aileron bold';
    src: url("/fonts/Aileron-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'Grouch';
    src: url("/fonts/Grouch.otf") format("opentype");
}

@font-face {
    font-family: 'Kabel medium';
    src: url("/fonts/KabelMedium.TTF") format("truetype");
}

@font-face {
    font-family: 'Kabel demi';
    src: url("/fonts/KabelDemi.TTF") format("truetype");
}

.ail-r {
    font-family: 'Aileron regular', Arial, Helvetica, sans-serif;
}

.ail-b {
    font-family: 'Aileron bold', Arial, Helvetica, sans-serif;
}

.grouch {
    font-family: 'Grouch', Arial, Helvetica, serif;
}

.kabel-med {
    font-family: 'Kabel medium', Arial, Helvetica, sans-serif;
}

.kabel-demi {
    font-family: 'Kabel demi', Arial, Helvetica, sans-serif;
}


/* --------- Font sizing ---------*/

.pt-14 {
    font-size: 1.163em;
}

.pt-16 {
    font-size: 1.33em;
}

.pt-18 {
    font-size: 1.5em;
}

.pt-22 {
    font-size: 1.8275em;
}

.pt-30 {
    font-size: 2.49375em;
}

.pt-40 {
    font-size: 3.325em;
}

.pt-55 {
    font-size: 4.571875em;
}

.shdw {
    text-shadow: -0.10em 0.012em 0.042em rgba(0, 0, 0);
}

.spc {
    letter-spacing: 0.2em;
}