<header id="start">
    <nav class="navbar d-flex flex-row justify-content-center mb-7">
        <a class="navbar-brand" href="/">
            <img src="/img/animacion logo T2F version1.2 pag web.gif" alt="Take2Films Logo">
        </a>
        <div id="lang" class="lang-select" type="button">
            <span id="es-select" class="text-pwhite kabel-med pt-14 active"><i class="flag pt-12">🇨🇴</i></span>
            <span id="en-select" class="text-pwhite kabel-med pt-14"><i class="flag pt-12">🇺🇸</i></span>
        </div>
        <button class="navbar-toggler shdw" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-pwhite kabel-med pt-14 shdw" href="#start"><%= __('navbar.home') %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-pwhite kabel-med pt-14 shdw" href="#nosotros"><%= __('navbar.about') %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-pwhite kabel-med pt-14 shdw" href="#aliados"><%= __('navbar.partners') %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-pwhite kabel-med pt-14 shdw" href="#contacto"><%= __('navbar.contact') %></a>
                </li>
            </ul>
        </div>
    </nav>
</header>