<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head') %>
</head>
<body class="bg-pblack">
    <%- include('./includes/header') %>
    <main>
        <section class="container-fluid mb-63px">
            <div class="row parallax-section">
                <article class="col-12 col-md-6 parallax-article bg-img-projects d-flex justify-content-center align-items-center">
                    <div class="caption-container p-3">
                        <a class="text-pwhite text-capitalize grouch shdw spc pt-30" href="#proyectos">proyectos</a>
                    </div>
                </article>
                <article class="col-12 col-md-6 parallax-article bg-img-services d-flex justify-content-center align-items-center">
                    <div class="caption-container p-3">
                        <a class="text-pwhite text-capitalize grouch shdw spc pt-30" href="#servicios">servicios</a>
                    </div>
                </article>
            </div>
            <div class="row parallax-section">
                <article class="col-12 col-md-6 parallax-article bg-img-us d-flex justify-content-center align-items-center">
                    <div class="caption-container p-3">
                        <a class="text-pwhite grouch shdw spc pt-30" href="#nosotros">Sobre nosotros</a>
                    </div>
                </article>
                <article class="col-12 col-md-6 parallax-article bg-img-staff d-flex justify-content-center align-items-center">
                    <div class="caption-container p-3">
                        <a class="text-pwhite grouch shdw spc pt-30" href="#equipo">Nuestro equipo</a>
                    </div>
                </article>
            </div>
            <div class="row parallax-section mb-3">
                <article class="col-12 col-md-6 parallax-article bg-img-partners d-flex justify-content-center align-items-center">
                    <div class="caption-container p-3">
                        <a class="text-pwhite text-capitalize grouch shdw spc pt-30" href="#aliados">aliados</a>
                    </div>
                </article>
                <article class="col-12 col-md-6 parallax-article bg-img-contact d-flex justify-content-center align-items-center">
                    <div class="caption-container p-3">
                        <a class="text-pwhite text-capitalize grouch shdw spc pt-30" href="#contacto">contáctanos</a>
                    </div>
                </article>
            </div>
        </section>
        <div class="container mb-115px">
            <div class="row d-flex justify-content-center align-items-center">
                <img src="/img/fotos version 1900x--/WE--- TOGETHER GIF fondo negro 0000.gif">
            </div>
        </div>
        <!-- <div class="container mb-115px">
            <div class="row d-flex justify-content-center align-items-center">
                <video autoplay loop muted>
                    <source src="/vids/WE--- TOGETHER GIF transparente1.webm">
                </video>
            </div>
        </div> -->
        <section class="container-fluid" id="nosotros">
            <div class="row d-flex justify-content-center pl-3">
                <h2 class="col-10 text-pwhite text-capitalize kabel-demi pt-55">sobre nosotros</h2>
            </div>
            <div class="row d-flex flex-wrap justify-content-center">
                <div class="col-12 col-md-5 p-36842">
                    <p class="text-pwhite text-justify popps-r pt-18"><strong class="fw-bold">Take Two Films</strong>, ubicada en la vibrante Bogotá es más que una simple productora audiovisual: es un colectivo de creatividad en constante evolución que se ha ido especializando en la creación de contenido innovador como largometrajes y cortometrajes de ficción, así como en la producción de videoclips y comerciales.</p>
                    <p class="text-pwhite text-justify popps-r pt-18">Fundada en junio de 2015, nuestra compañía abarca todas las etapas de la producción, desde el desarrollo, pre producción, producción y post producción a nivel nacional e internacional.</p>
                    <p class="text-pwhite text-justify popps-r pt-18">María Alejandra Delgado y Juan David Tobón son los fundadores y visionarios detrás de <strong class="fw-bold">Take Two Films</strong>, traen consigo más de 20 años de experiencia en la industria audiovisual.</p>
                </div>
                <div class="col-12 col-md-5 p-36842">
                    <p class="text-pwhite text-justify popps-r pt-18">Su trayectoria en diversas producciones ha nutrido a Take <strong class="fw-bold">Take Two Films</strong> con un conocimiento profundo; sumando la participación de jóvenes talentos que hacen un gran match a la hora de crear y producir en esta nueva etapa de la industria.</p>
                    <p class="text-pwhite text-justify popps-r pt-18">Nuestro compromiso con la innovación en los diferentes mercados, con nuevos talentos, promoviendo la diversidad y la inclusión en cada una de nuestras historias.</p>
                    <p class="text-pwhite text-justify popps-r pt-18"><strong class="fw-bold">Take Two Films</strong> brilla intensamente como un faro de creatividad y distinción en la narración audiovisual, donde soñamos las ideas, se transforman y cobran vida en cada proyecto.</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center mb-7">
                <h5 class="text-pwhite text-center kabel-med pt-30 mb-63px">Cada familia tiene una historia</h5>
                <div class="col-12 d-flex justify-content-center mb-7">
                    <div class="video-container position-relative">
                        <img src="/img/fotos version 1900x--/reel t2f 950x 596.png" class="img-fluid" alt="Video thumbnail">
                        <button class="btn play-button position-absolute top-50 start-50 translate-middle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.271 5.055A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .757.429l4-2.5a.5.5 0 0 0 0-.858l-4-2.5a.5.5 0 0 0-.486-.016z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <h5 class="text-pwhite text-center mb-82px kabel-med pt-30">Esta es la nuestra</h5>
            </div>            
        </section>
        <section class="container-fluid mb-148px" id="proyectos">
            <div class="row d-flex justify-content-center pl-3">
                <h4 class="col-10 text-pwhite text-capitalize mb-82px kabel-demi pt-55">proyectos</h4>
            </div>
            <div class="row parallax-section">
                <article class="col-12 col-md-6 parallax-article bg-img-fumo d-flex justify-content-center align-items-center to-blur">
                    <div class="caption-container p-3">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#fumo-viewer">
                            <h3 class="text-pwhite text-center grouch shdw spc pt-30">Videoclip - Fumo y Bebo</h3>
                        </a>
                    </div>
                </article>
                <div class="modal fade" id="fumo-viewer" tabindex="-1" aria-labelledby="fumo-label" aria-hidden="true" data-video-type="youtube" data-video-id="zOYvALbEGsI">
                    <div class="modal-wrapper bg-pblack d-flex justify-content-center">
                        <div class="modal-dialog bg-pblack">
                            <div class="modal-content bg-pblack">
                                <div class="modal-header text-pwhite">
                                    <h2 class="modal-title fs-5 popps-sb pt-40" id="fumo-label"><a href="https://youtu.be/zOYvALbEGsI?si=lMC4SbwjM8txirLf" target="_blank">Fumo y Bebo - Pipe Bueno x Pablo Ocampo | Video Oficial</a></h2>
                                    <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                        <img src="/img/cerrador claqueta 64 x64.svg" alt="T2F Cerrar">
                                    </button>
                                </div>
                            </div>
                            <div class="modal-body d-flex justify-content-center align-items-center">
                                <iframe id="fumo-iframe" class="video-viewer embed-responsive-item"
                                        src="https://www.youtube.com/embed/zOYvALbEGsI?enablejsapi=1"
                                        title="YouTube video player"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <article class="col-12 col-md-6 parallax-article bg-img-restos d-flex justify-content-center align-items-center to-blur">
                    <div class="caption-container p-3">
                        <a href="#">
                            <p class="text-center text-pwhite text-uppercase grouch shdw spc pt-30">coming soon</p>
                            <h3 class="text-pwhite text-center grouch shdw spc pt-30">Cortometraje - los restos de la cama</h3>
                            <p class="text-center text-pwhite grouch shdw spc pt-30">Coproductores</p>
                        </a>
                    </div>
                </article>
            </div>
            <div class="row parallax-section">
                <article class="col-12 col-md-6 parallax-article bg-img-opening d-flex justify-content-center align-items-center to-blur">
                    <div class="caption-container p-3">
                        <a href="#">
                            <h3 class="text-pwhite text-center grouch shdw spc pt-30">Opening Concierto</h3>
                        </a>
                    </div>
                </article>
                <article class="col-12 col-md-6 parallax-article bg-img-tarde d-flex justify-content-center align-items-center to-blur">
                    <div class="caption-container p-3">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#tarde-viewer">
                            <h3 class="text-pwhite text-center grouch shdw spc pt-30">Videoclip - Volviste Tarde</h3>
                        </a>
                    </div>
                </article>
                <div class="modal fade" id="tarde-viewer" tabindex="-1" aria-labelledby="tarde-label" aria-hidden="true" data-video-type="youtube" data-video-id="mseSKt9ebq8">
                    <div class="modal-wrapper bg-pblack d-flex justify-content-center">
                        <div class="modal-dialog bg-pblack">
                            <div class="modal-content bg-pblack">
                                <div class="modal-header text-pwhite">
                                    <h2 class="modal-title fs-5 popps-sb pt-40" id="tarde-label"><a href="https://youtu.be/mseSKt9ebq8?si=I2lNcSZCq8oyQ_RO" target="_blank">Volviste Tarde - Luisito Muñoz & Pipe Bueno | Video Oficial</a></h2>
                                    <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                        <img src="/img/cerrador claqueta 64 x64.svg" alt="T2F Cerrar">
                                    </button>
                                </div>
                            </div>
                            <div class="modal-body d-flex justify-content-center align-items-center">
                                <iframe id="tarde-iframe" class="video-viewer embed-responsive-item"
                                        src="https://www.youtube.com/embed/mseSKt9ebq8?enablejsapi=1"
                                        title="YouTube video player"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row parallax-section">
                <article class="col-12 col-md-6 parallax-article bg-img-transmi d-flex justify-content-center align-items-center to-blur">
                    <div class="caption-container p-3">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#transmi-viewer">
                            <h3 class="text-pwhite text-center grouch shdw spc pt-30"><p>Transmilenials - Piloto</p>Coproductores</h3>
                        </a>
                    </div>
                </article>
                <div class="modal fade" id="transmi-viewer" tabindex="-1" aria-labelledby="transmi-label" aria-hidden="true" data-video-type="vimeo" data-video-id="317812871">
                    <div class="modal-wrapper bg-pblack d-flex justify-content-center">
                        <div class="modal-dialog bg-pblack">
                            <div class="modal-content bg-pblack">
                                <div class="modal-header text-pwhite">
                                    <h2 class="modal-title fs-5 popps-sb pt-40" id="transmi-label"><a href="https://vimeo.com/317812871" target="_blank">TRANSMILENIALS Piloto</a></h2>
                                    <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                        <img src="/img/cerrador claqueta 64 x64.svg" alt="T2F Cerrar">
                                    </button>
                                </div>
                            </div>
                            <div class="modal-body d-flex justify-content-center align-items-center">
                                <iframe id="transmi-iframe" class="video-viewer embed-responsive-item" src="https://player.vimeo.com/video/317812871?h=27124600cc" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <article class="col-12 col-md-6 parallax-article bg-img-pipe d-flex justify-content-center align-items-center to-blur">
                    <div class="caption-container p-3">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#">
                            <h3 class="text-pwhite text-center grouch shdw spc pt-30">Concierto 15 años Pipe Bueno</h3>
                        </a>
                    </div>
                </article>
            </div>
            <div class="row parallax-section">
                <article class="col-12 col-md-6 parallax-article bg-img-behind d-flex justify-content-center align-items-center to-blur">
                    <div class="caption-container p-3">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#">
                            <h3 class="text-pwhite text-center grouch shdw spc pt-30">Behind the Scenes - Pipe Bueno</h3>
                        </a>
                    </div>
                </article>
                <article class="col-12 col-md-6 parallax-article bg-img-fuera d-flex justify-content-center align-items-center to-blur">
                    <div class="caption-container p-3">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#fuera-viewer">
                            <h3 class="text-pwhite text-center grouch shdw spc pt-30">Podcast - Fuera de Set</h3>
                        </a>
                    </div>
                </article>
                <div class="modal fade" id="fuera-viewer" tabindex="-1" aria-labelledby="fuera-label" aria-hidden="true" data-video-type="youtube" data-video-id="QNHbO-Z4yNs">
                    <div class="modal-wrapper bg-pblack d-flex justify-content-center">
                        <div class="modal-dialog bg-pblack">
                            <div class="modal-content bg-pblack">
                                <div class="modal-header text-pwhite">
                                    <h2 class="modal-title fs-5 popps-sb pt-40" id="fuera-label"><a href="https://www.youtube.com/@fueradeset" target="_blank">Fuera de Set</a></h2>
                                    <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                        <img src="/img/cerrador claqueta 64 x64.svg" alt="T2F Cerrar">
                                    </button>
                                </div>
                            </div>
                            <div class="modal-body d-flex flex-wrap justify-content-center align-items-center">
                                <iframe id="fuera-iframe" class="video-viewer embed-responsive-item"
                                        src="https://www.youtube.com/embed/QNHbO-Z4yNs?enablejsapi=1"
                                        title="YouTube video player"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                </iframe>
                                <div class="col-md-12 iframe-text">
                                    <p class="text-pwhite text-justfy popps-r pt-14">“Fuera de set” es un Video podcast dirigido a los estudiantes con carreras audiovisuales, nuevas generaciones en el medio o simplemente aficionados que quieran conocer un poco sobre el detrás de la pantalla del cine y la tv.</p>
                                    <p class="text-pwhite text-justfy popps-r pt-14">Este proyecto nace de la necesidad que tiene Brayan, Miguel, Harold y Pepino por transmitir sus conocimientos de lo audiovisual en compañía de sus grandes invitados, quienes nos enriquecerán con sus experiencias y anécdotas que nos llenarán de sensaciones únicas que te harán reír, llorar y hasta bailar.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row parallax-section">
                <article class="col-12 col-md-6 parallax-article bg-img-misteriosa d-flex justify-content-center align-items-center to-blur">
                    <div class="caption-container p-3">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#misteriosa-viewer">
                            <h3 class="text-pwhite text-center grouch shdw spc pt-30">Misteriosa - Piloto Coproductores</h3>
                        </a>
                    </div>
                </article>
                <div class="modal fade" id="misteriosa-viewer" tabindex="-1" aria-labelledby="misteriosa-label" aria-hidden="true" data-video-type="vimeo" data-video-id="273802360">
                    <div class="modal-wrapper bg-pblack d-flex justify-content-center">
                        <div class="modal-dialog bg-pblack">
                            <div class="modal-content bg-pblack">
                                <div class="modal-header text-pwhite">
                                    <h2 class="modal-title fs-5 popps-sb pt-40" id="misteriosa-label"><a href="https://vimeo.com/273802360" target="_blank">Misteriosa Teaser</a></h2>
                                    <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                        <img src="/img/cerrador claqueta 64 x64.svg" alt="T2F Cerrar">
                                    </button>
                                </div>
                            </div>
                            <div class="modal-body d-flex justify-content-center align-items-center">
                                <iframe id="misteriosa-iframe" class="video-viewer embed-responsive-item" src="https://player.vimeo.com/video/273802360?h=67dca1d8c4" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <article class="col-12 col-md-6 parallax-article bg-img-nono d-flex justify-content-center align-items-center to-blur">
                    <div class="caption-container p-3">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#no-no-viewer">
                            <h3 class="text-pwhite text-center grouch shdw spc pt-30">Videoclip - No me digas que no</h3>
                        </a>
                    </div>
                </article>
                <div class="modal fade" id="no-no-viewer" tabindex="-1" aria-labelledby="no-no-label" aria-hidden="true" data-video-type="youtube" data-video-id="ounCk95-ctU">
                    <div class="modal-wrapper bg-pblack d-flex justify-content-center">
                        <div class="modal-dialog bg-pblack">
                            <div class="modal-content bg-pblack">
                                <div class="modal-header text-pwhite">
                                    <h2 class="modal-title fs-5 popps-sb pt-40" id="no-no-label"><a href="https://youtu.be/ounCk95-ctU?si=GtCU_NL8qfkUH3ho" target="_blank">No Me Digas Que No - Pipe Bueno x Luis Alfonso | Video Oficial</a></h2>
                                    <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                        <img src="/img/cerrador claqueta 64 x64.svg" alt="T2F Cerrar">
                                    </button>
                                </div>
                            </div>
                            <div class="modal-body d-flex justify-content-center align-items-center">
                                <iframe id="no-no-iframe" class="video-viewer embed-responsive-item"
                                        src="https://www.youtube.com/embed/ounCk95-ctU?enablejsapi=1"
                                        title="YouTube video player"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row parallax-section">
                <article class="col-12 col-md-6 parallax-article bg-img-cantina d-flex justify-content-center align-items-center to-blur">
                    <div class="caption-container p-3">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#cantina-viewer">
                            <h3 class="text-pwhite text-center grouch shdw spc pt-30">Videoclip - La Cantina</h3>
                        </a>
                    </div>
                </article>
                <div class="modal fade" id="cantina-viewer" tabindex="-1" aria-labelledby="cantina-label" aria-hidden="true" data-video-type="youtube" data-video-id="VJ-DRbDXepE">
                    <div class="modal-wrapper bg-pblack d-flex justify-content-center">
                        <div class="modal-dialog bg-pblack">
                            <div class="modal-content bg-pblack">
                                <div class="modal-header text-pwhite">
                                    <h2 class="modal-title fs-5 popps-sb pt-40" id="cantina-label"><a href="https://youtu.be/VJ-DRbDXepE?si=FiRzaNrpnQLzZAN2" target="_blank">La Cantina (Remix) - Hernan Gómez x Luis Alfonso x Pipe Bueno | Video Oficial</a></h2>
                                    <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                        <img src="/img/cerrador claqueta 64 x64.svg" alt="T2F Cerrar">
                                    </button>
                                </div>
                            </div>
                            <div class="modal-body d-flex justify-content-center align-items-center">
                                <iframe id="cantina-iframe" class="video-viewer embed-responsive-item"
                                        src="https://www.youtube.com/embed/VJ-DRbDXepE?enablejsapi=1"
                                        title="YouTube video player"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <article class="col-12 col-md-6 parallax-article bg-img-casa d-flex justify-content-center align-items-center to-blur">
                    <div class="caption-container p-3">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#">
                            <h3 class="text-pwhite text-center grouch shdw spc pt-30"><p>Capsulas - La Casa del</p>Diseño Colombiano</h3>
                        </a>
                    </div>
                </article>
            </div>
            <div class="row parallax-section">
                <article class="col-12 col-md-6 parallax-article bg-img-movistar d-flex justify-content-center align-items-center to-blur">
                    <div class="caption-container p-3">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#">
                            <h3 class="text-pwhite text-center grouch shdw spc pt-30">Concierto Movistar</h3>
                        </a>
                    </div>
                </article>
                <article class="col-12 col-md-6 parallax-article bg-img-off d-flex justify-content-center align-items-center to-blur">
                    <div class="caption-container p-3">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#">
                            <p class="text-center text-pwhite text-uppercase grouch shdw spc pt-30">coming soon</p>
                            <h3 class="text-pwhite text-center grouch shdw spc pt-30">Podcast VOZ EN OFF</h3>
                        </a>
                    </div>
                </article>
            </div>
        </section>
        <section class="container-fluid mb-200px" id="servicios">
            <div class="row d-flex flex-wrap justify-content-center">
                <h4 class="text-pwhite text-capitalize col-12 text-center mb-5 kabel-demi pt-55">servicios</h4>
                <div class="col-md-8">
                    <p class="text-pwhite text-center mb-4 popps-r pt-18">Somos una Empresa 100% Colombiana que Ofrece servicios de producción con un enfoque fresco y vanguardista para la realización de obras cinematográficas, series, videoclips y producciones audiovisuales publicitarias. A través de La Ley 1556 que hace parte de la normatividad para la industria audiovisual.</p>
                    <p class="text-pwhite text-center mb-4 popps-r pt-18">En nuestro equipo, abordamos todos los aspectos de la creación audiovisual con un enfoque fresco y vanguardista. Nuestro talentoso equipo profesional y creativo se ocupa de cada etapa: desarrollo, preproducción, producción y postproducción.</p>
                    <p class="text-pwhite text-center mb-148px popps-r pt-18">Comprometidos a impulsar cada proyecto con creatividad y pasión, asegurando que cada narrativa audiovisual cobre vida de manera única. Desde la chispa inicial hasta el guión completo, estamos dedicados a transformar ideas en experiencias visuales impactantes y memorables que conecten al mundo.</p>
                </div>
            </div>
            <div class="row">
                <div id="customCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <img src="/img/fotos version 1900x--/fotos servicios seccion3/servicios de produccion 950 x 596 .png" class="d-block w-100" alt="Servicios de Producción">
                                    <div class="carousel-caption caption-left d-none d-md-block p-3">
                                        <h2 class="text-pwhite text-center grouch shdw spc pt-30"><p>Servicios</p> de Producción</h2>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <img src="/img/fotos version 1900x--/fotos servicios seccion3/realizacion de contenido 950 x 596.png" class="d-block w-100" alt="Realización de Contenido">
                                    <div class="carousel-caption caption-right d-none d-md-block p-3">
                                        <h2 class="text-pwhite text-center grouch shdw spc pt-30"><p>Realización</p> de Contenido</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <img src="/img/fotos version 1900x--/fotos servicios seccion3/guiones 950 x 596 .png" class="d-block w-100" alt="Guiones">
                                    <div class="carousel-caption caption-left d-none d-md-block p-3">
                                        <h2 class="text-pwhite text-center grouch shdw spc pt-30">Guiones</h2>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <img src="/img/fotos version 1900x--/fotos servicios seccion3/produccion de comerciales 950 x 596 .png" class="d-block w-100" alt="Producción de Comerciales">
                                    <div class="carousel-caption caption-right d-none d-md-block p-3">
                                        <h2 class="text-pwhite text-center grouch shdw spc pt-30"><p>Producción</p> de Comerciales</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <img src="/img/fotos version 1900x--/fotos servicios seccion3/post produccion 950 x 596 .png" class="d-block w-100" alt="Post Producción">
                                    <div class="carousel-caption caption-left d-none d-md-block p-3">
                                        <h2 class="text-pwhite text-center grouch shdw spc pt-30">Post Producción</h2>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <img src="/img/fotos version 1900x--/fotos servicios seccion3/asesoria de proyectos 950 x 596 .png" class="d-block w-100" alt="Asesoría de Proyectos">
                                    <div class="carousel-caption caption-right d-none d-md-block p-3">
                                        <h2 class="text-pwhite text-center grouch shdw spc pt-30">Asesoría de Proyectos</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#customCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#customCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            
        </section>
        <section class="container-fluid mb-200px" id="equipo">
            <div class="row d-flex flex-wrap justify-content-center mb-7">
                <div class="col-md-9">
                    <h4 class="text-center text-pwhite text-uppercase mb-5 kabel-demi pt-55">Nuestro equipo</h4>
                    <p class="text-pwhite text-center kabel-med pt-30">Déjanos contar tu historia</p>
                </div>
            </div>
            <div class="row d-flex flex-wrap justify-content-center">
                <div class="col-md-9">
                    <div class="row d-flex flex-wrap justify-content-center mb-42px staff-row-wrapper">
                        <div class="card-wrapper d-flex justify-content-center  to-blur">
                            <img class="card-img-bg" src="/img/fotos version 1900x--/fotos Equipo seccion 4/Maria delgado CEO  242 x 242.png" alt="MARIA DELGADO">
                            <div class="staff-caption wrapper-1">
                                <a class="text-center text-pwhite" href="" data-bs-toggle="modal" data-bs-target="#mariaD-bio">
                                    <h5 class="popps-sb pt-16 mb-42px shdw">MARIA DELGADO</h5>
                                    <p class="popps-r pt-14 shdw">CEO - FUNDADORA -</p>
                                    <p class="popps-r pt-14 shdw">PRODUCTORA</p>
                                </a>
                            </div>
                        </div>
                         <div class="modal fade bio-modal" id="mariaD-bio" tabindex="-1" aria-labelledby="mariaD-bio-label" aria-hidden="true">
                            <div class="modal-wrapper bg-pblackT d-flex justify-content-center">
                                <div class="modal-dialog bg-pblackT">
                                    <div class="modal-content bg-pblackT">
                                        <div class="modal-header text-pwhite text-uppercase">
                                            <h5 class="modal-title fs-5 ail-b pt-40" id="mariaD-bio-label"><a href="https://www.imdb.com/name/nm7515371/?ref_=ext_shr_lnk" target="_blank">ceo - fundadora - productora</a></h5>
                                            <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                                <img src="/img/cerrador claqueta 64 x64.svg" alt="T2F Cerrar">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modal-body d-flex justify-content-center align-items-center">
                                        <div class="bio-text">
                                            <p class="text-pwhite text-justfy popps-r pt-18">María Delgado, una apasionada incansable que imprime su esencia en cada proyecto que desarrolla. Siempre en busca de nuevos horizontes, su sed de exploración la convierte en una observadora meticulosa, capturando la esencia de cada momento para tejer magia en favor de sus proyectos.</p>
                                            <p class="text-pwhite text-justfy popps-r pt-18">Estudió Comunicación Audiovisual en la Universidad de la Sabana, María dió sus primeros pasos en la industria en Fox telecolombia (actualmente TIS), donde forjó su camino a la asistencia de dirección. Con más de 15 años de experiencia y con su talento ha dejado huella en escenarios como Colombia y México. Su experiencia abarca grandes productoras como Alazraki Films, Dynamo, Perro Azul, Caracol, Media Pro, CMO, Proyectil, Puracé Pictures, Sony Pictures, Fidelio Films, TIS.</p>
                                            <p class="text-pwhite text-justfy popps-r pt-18">Actualmente, María está en el desarrollo de una película de ficción como productora y el desarrollo de un proyecto cultural para Colombia. Al mismo tiempo María es directora de proyectos de la Fundación Héroesde Colombia ONG, donde su aporte es clave para el desarrollo y la ayuda de madres e hijos de está.</p>
                                            <p class="text-pwhite text-end popps-r pt-18"><a href="https://www.imdb.com/name/nm7515371/?ref_=ext_shr_lnk">Ver más  <img class="imdb-logo" src="/img/fotos version 1900x--/fotos Equipo seccion 4/logo IMDb.svg" alt="imdb logo"></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-wrapper d-flex justify-content-center to-blur">
                            <img class="card-img-bg" src="/img/fotos version 1900x--/fotos Equipo seccion 4/Juan Tobon pepino CEO  242 x 242.png" alt="JUAN TOBÓN PEPINO">
                            <div class="staff-caption wrapper-1">
                                <a class="text-center text-pwhite" href="" data-bs-toggle="modal" data-bs-target="#juanT-bio">
                                    <h5 class="popps-sb pt-16 shdw"><p>JUAN TOBÓN</p>PEPINO</h5>
                                    <p class="popps-r pt-14 shdw">CEO - FUNDADOR -</p>
                                    <p class="popps-r pt-14 shdw">PRODUCTOR</p>
                                </a>
                            </div>
                        </div>
                         <div class="modal fade bio-modal" id="juanT-bio" tabindex="-1" aria-labelledby="juanT-bio-label" aria-hidden="true">
                            <div class="modal-wrapper bg-pblackT d-flex justify-content-center">
                                <div class="modal-dialog bg-pblackT">
                                    <div class="modal-content bg-pblackT">
                                        <div class="modal-header text-pwhite text-uppercase">
                                            <h5 class="modal-title fs-5 ail-b pt-40" id="juanT-bio-label"><a href="https://www.imdb.com/name/nm8008446/?ref_=ext_shr_lnk" target="_blank">ceo - fundador - productor</a></h5>
                                            <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                                <img src="/img/cerrador claqueta 64 x64.svg" alt="T2F Cerrar">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modal-body d-flex justify-content-center align-items-center">
                                        <div class="bio-text">
                                            <p class="text-pwhite text-justfy popps-r pt-18">Juan Tobón, un visionario de la producción audiovisual con una trayectoria vasta y diversa. Su creatividad desbordante y mentalidad positiva dan forma a un portafolio enriquecido, capaz de adaptarse a cualquier escenario. Con una visión clara, transforma ideas en producciones cinematográficas, series y proyectos institucionales.</p>
                                            <p class="text-pwhite text-justfy popps-r pt-18">Con más de 20 años inmerso en la industria del cine y la televisión, ha cultivado su talento en escenarios tan diversos como Colombia y República Dominicana. Su pericia ha dejado huella en reconocidas productoras como Caracol, Media Pro, 64 A Films, Dynamo, Teleset, CMO Producciones, Proyectil y MovieBox Producciones.</p>
                                            <p class="text-pwhite text-justfy popps-r pt-18">En la actualidad, Juan se encuentra inmerso en la producción de unas cápsulas digitales de cine titulado “Cabecimotor”, al tiempo que desarrolla su ópera prima como productor en una película de ficción.</p>
                                            <p class="text-pwhite text-end popps-r pt-18"><a href="https://www.imdb.com/name/nm8008446/?ref_=ext_shr_lnk">Ver más  <img class="imdb-logo" src="/img/fotos version 1900x--/fotos Equipo seccion 4/logo IMDb.svg" alt="imdb logo"></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-wrapper d-flex justify-content-center  to-blur">
                            <img class="card-img-bg" src="/img/fotos version 1900x--/fotos Equipo seccion 4/jeiver pinto director guionista  242 x 242.png" alt="JEIVER PINTO">
                            <div class="staff-caption wrapper-1">
                                <a class="text-center text-pwhite" href="" data-bs-toggle="modal" data-bs-target="#jeiverP-bio">
                                    <h5 class="popps-sb pt-16 mb-42px shdw">JEIVER PINTO</h5>
                                    <p class="popps-r pt-14 shdw">DIRECTOR Y GUIONISTA</p>
                                </a>
                            </div>
                        </div>
                         <div class="modal fade bio-modal" id="jeiverP-bio" tabindex="-1" aria-labelledby="jeiverP-bio-label" aria-hidden="true">
                            <div class="modal-wrapper bg-pblackT d-flex justify-content-center">
                                <div class="modal-dialog bg-pblackT">
                                    <div class="modal-content bg-pblackT">
                                        <div class="modal-header text-pwhite text-uppercase">
                                            <h5 class="modal-title fs-5 ail-b pt-40" id="jeiverP-bio-label"><a href="https://www.imdb.com/name/nm5779094/?ref_=ext_shr_lnk" target="_blank">DIRECTOR Y GUIONISTA</a></h5>
                                            <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                                <img src="/img/cerrador claqueta 64 x64.svg" alt="T2F Cerrar">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modal-body d-flex justify-content-center align-items-center">
                                        <div class="bio-text">
                                            <p class="text-pwhite text-justfy popps-r pt-18">Realizador Audiovisual egresado de la Escuela de Cine Lumière, durante su trayectoria se ha desempeñado como Director, guionista y primer asistente de dirección de diversas obras cinematográficas reconocidas a nivel nacional e internacional.</p>
                                            <p class="text-pwhite text-justfy popps-r pt-18">Como director, desarrolla la película Volar. Como guionista, en las películas Perros (2017) Todas para uno (2014), De Rolling 2: Por el sueño mundialista (2014), De Rolling por Colombia (2013) y asesor de guión de la pelicula El Arriero (2009). Director de unidades adicionales de la serie Historia de un crimen: </p>
                                            <p class="text-pwhite text-justfy popps-r pt-18">Caso Colmenares (2019) y como Director asistente en las series Hasta que la plata nos separe (2022), Perfil Falso (2023), Pa´ Quererte (2020) y Paraiso Travel (2018). Como primer asistente de dirección participa en los proyectos Cien Años de Soledad (2022 – 2023) El olvido que seremos (2020) Distrito Salvaje (2018) Amalia la secretaria (2017), Corazón de León (2015) entre otras.</p>
                                            <p class="text-pwhite text-end popps-r pt-18"><a href="https://www.imdb.com/name/nm5779094/?ref_=ext_shr_lnk">Ver más  <img class="imdb-logo" src="/img/fotos version 1900x--/fotos Equipo seccion 4/logo IMDb.svg" alt="imdb logo"></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-wrapper d-flex justify-content-center align-items-center to-blur">
                            <img class="card-img-bg" src="/img/fotos version 1900x--/fotos Equipo seccion 4/felipe camargo editor 242 x 242.png" alt="FELIPE CAMARGO">
                            <div class="staff-caption">
                                <a class="text-center text-pwhite" href="" data-bs-toggle="modal" data-bs-target="#felipeC-bio">
                                    <h5 class="popps-sb pt-16 mb-42px shdw">FELIPE CAMARGO</h5>
                                    <p class="popps-r pt-14 shdw">EDITOR</p>
                                </a>
                            </div>
                        </div>
                         <div class="modal fade bio-modal" id="felipeC-bio" tabindex="-1" aria-labelledby="felipeC-bio-label" aria-hidden="true">
                            <div class="modal-wrapper bg-pblackT d-flex justify-content-center">
                                <div class="modal-dialog bg-pblackT">
                                    <div class="modal-content bg-pblackT">
                                        <div class="modal-header text-pwhite text-uppercase">
                                            <h5 class="modal-title fs-5 ail-b pt-40" id="felipeC-bio-label"><a href="" target="_blank">EDITOR</a></h5>
                                            <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                                <img src="/img/cerrador claqueta 64 x64.svg" alt="T2F Cerrar">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modal-body d-flex justify-content-center align-items-center">
                                        <div class="bio-text">
                                            <p class="text-pwhite text-justfy popps-r pt-18">Andrés Felipe Camargo Ariza es un profesional en cine y televisión graduado de la Universidad UniAgustiniana, con experiencia especializada en composición digital, edición y montaje, corrección de color, gestión de datos (DIT y Data manager), videográfo y fotógrafo.</p>
                                            <p class="text-pwhite text-justfy popps-r pt-18">Ha dirigido videos musicales para artistas como Nico Hernández, Beto Villa Jr, Andrea Moreno, Giany, entre otros, demostrando un dominio experto de las herramientas y técnicas necesarias en la producción audiovisual.</p>
                                            <p class="text-pwhite text-justfy popps-r pt-18">Con más de 8 años de experiencia en la industria, ha desarrollado una profunda comprensión de los procesos y flujos de trabajo en la creación de contenido visual de alta calidad.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                  
                    </div>
                    <div class="row d-flex flex-wrap justify-content-center staff-row-wrapper">
                        <div class="card-wrapper d-flex justify-content-center to-blur">
                            <img class="card-img-bg" src="/img/fotos version 1900x--/fotos Equipo seccion 4/laura crismatt directora creativa 242 x 242.png" alt="LARUA CRISMATT">
                            <div class="staff-caption wrapper-1">
                                <a class="text-center text-pwhite" href="" data-bs-toggle="modal" data-bs-target="#lauraC-bio">
                                    <h5 class="popps-sb pt-16 shdw">LARUA CRISMATT</h5>
                                    <p class="popps-r pt-14 shdw">DIRECTORA CREATIVA</p>
                                </a>
                            </div>
                        </div>
                         <div class="modal fade bio-modal" id="lauraC-bio" tabindex="-1" aria-labelledby="lauraC-bio-label" aria-hidden="true">
                            <div class="modal-wrapper bg-pblackT d-flex justify-content-center">
                                <div class="modal-dialog bg-pblackT">
                                    <div class="modal-content bg-pblackT">
                                        <div class="modal-header text-pwhite text-uppercase">
                                            <h5 class="modal-title fs-5 ail-b pt-40" id="lauraC-bio-label"><a href="" target="_blank">DIRECTORA CREATIVA</a></h5>
                                            <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                                <img src="/img/cerrador claqueta 64 x64.svg" alt="T2F Cerrar">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modal-body d-flex justify-content-center align-items-center">
                                        <div class="bio-text">
                                            <p class="text-pwhite text-justfy popps-r pt-18">Laura Crismatt, una mujer emprendedora y apasionada por el arte, el diseño y los viajes. Su talento y creatividad la convierten en una directora de arte y diseñadora excepcional, capaz de llevar las marcas y proyectos a otro nivel. Además, es una cazadora de ideas y una incubadora de talento con más de 10 años de experiencia.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="card-wrapper d-flex justify-content-center align-items-center to-blur">
                            <img class="card-img-bg" src="/img/fotos version 1900x--/fotos Equipo seccion 4/laura bonilla directora creativa 242 x 242.png" alt="LAURA BONILLA">
                            <div class="staff-caption">
                                <a class="text-center text-pwhite" href="" data-bs-toggle="modal" data-bs-target="#lauraB-bio">
                                    <h5 class="popps-sb pt-16 shdw">LAURA BONILLA</h5>
                                    <p class="popps-r pt-14 shdw">DIRECTORA CREATIVA</p>
                                </a>
                            </div>
                        </div>
                         <div class="modal fade bio-modal" id="lauraB-bio" tabindex="-1" aria-labelledby="lauraB-bio-label" aria-hidden="true">
                            <div class="modal-wrapper bg-pblackT d-flex justify-content-center">
                                <div class="modal-dialog bg-pblackT">
                                    <div class="modal-content bg-pblackT">
                                        <div class="modal-header text-pwhite text-uppercase">
                                            <h5 class="modal-title fs-5 ail-b pt-40" id="lauraB-bio-label"><a href="" target="_blank">DIRECTORA CREATIVA</a></h5>
                                            <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                                <img src="/img/cerrador claqueta 64 x64.svg" alt="T2F Cerrar">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modal-body d-flex justify-content-center align-items-center">
                                        <div class="bio-text">
                                            <p class="text-pwhite text-justfy popps-r pt-18">Laura bonilla mercadóloga y comunicadora de moda con énfasis en la dirección de arte posee un sólido historial en la creación de proyectos visuales impactantes.</p>
                                            <p class="text-pwhite text-justfy popps-r pt-18">Su enfoque combina una estética innovadora asegurando que cada proyecto no solo sea visualmente atractivo, sino también comercialmente viable.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-wrapper d-flex justify-content-center align-items-center to-blur">
                            <img class="card-img-bg" src="/img/fotos version 1900x--/fotos Equipo seccion 4/Valentina cerci community manegar 242 x 242.png" alt="VALENTINA CICERI">
                            <div class="staff-caption">
                                <a class="text-center text-pwhite" href="" data-bs-toggle="modal" data-bs-target="#valentinaC-bio">
                                    <h5 class="popps-sb pt-16 shdw">VALENTINA CICERI</h5>
                                    <p class="popps-r pt-14 shdw">COMMUNITY MANAGER</p>
                                </a>
                            </div>
                        </div>
                         <div class="modal fade bio-modal" id="valentinaC-bio" tabindex="-1" aria-labelledby="valentinaC-bio-label" aria-hidden="true">
                            <div class="modal-wrapper bg-pblackT d-flex justify-content-center">
                                <div class="modal-dialog bg-pblackT">
                                    <div class="modal-content bg-pblackT">
                                        <div class="modal-header text-pwhite text-uppercase">
                                            <h5 class="modal-title fs-5 ail-b pt-40" id="valentinaC-bio-label"><a href="" target="_blank">COMMUNITY MANAGER</a></h5>
                                            <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                                <img src="/img/cerrador claqueta 64 x64.svg" alt="T2F Cerrar">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modal-body d-flex justify-content-center align-items-center">
                                        <div class="bio-text">
                                            <p class="text-pwhite text-justfy popps-r pt-18">Valentina Ciceri, Comunicadora Social y Periodista graduada de la Universidad Pontificia Bolivariana, especializada en comunicación organizacional y de mercadeo.</p>
                                            <p class="text-pwhite text-justfy popps-r pt-18">La creatividad y la empatía son mi sello personal y me apasiona crear contenido que atrape, ya sea gráfico o audiovisual, especialmente para redes sociales. Soy una mujer con un deseo incansable de aprendizaje y un espíritu emprendedor.</p>
                                            <p class="text-pwhite text-justfy popps-r pt-18">Mi iniciativa y el disfrute del trabajo en equipo se combinan con mi habilidad para orientar al cliente y encontrar soluciones creativas a cualquier desafío. Me apasiona mantenerme actualizada con las últimas tendencias y siempre busco innovar en cada proyecto en el que me involucro.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-wrapper d-flex justify-content-center align-items-center to-blur">
                            <img class="card-img-bg" src="/img/fotos version 1900x--/fotos Equipo seccion 4/Mario Ibarra 242 x 242.png" alt="MARIO IBARRA">
                            <div class="staff-caption">
                                <a class="text-center text-pwhite" href="" data-bs-toggle="modal" data-bs-target="#marioI-bio">
                                    <h5 class="popps-sb pt-16 shdw">MARIO IBARRA</h5>
                                    <p class="popps-r pt-14 shdw">CASTING -</p>
                                    <p class="popps-r pt-14 shdw">DISEÑADOR -</p>
                                    <p class="popps-r pt-14 shdw">PUBLICISTA</p>
                                </a>
                            </div>
                        </div>
                         <div class="modal fade bio-modal" id="marioI-bio" tabindex="-1" aria-labelledby="marioI-bio-label" aria-hidden="true">
                            <div class="modal-wrapper bg-pblackT d-flex justify-content-center">
                                <div class="modal-dialog bg-pblackT">
                                    <div class="modal-content bg-pblackT">
                                        <div class="modal-header text-pwhite text-uppercase">
                                            <h5 class="modal-title fs-5 ail-b pt-40" id="marioI-bio-label"><a href="" target="_blank">CASTING - DISEÑADOR - PUBLICISTA</a></h5>
                                            <button type="button" class="btn btn-closing" data-bs-dismiss="modal" aria-label="Cerrar">
                                                <img src="/img/cerrador claqueta 64 x64.svg" alt="T2F Cerrar">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modal-body d-flex justify-content-center align-items-center">
                                        <div class="bio-text">
                                            <p class="text-pwhite text-justfy popps-r pt-18">Mario Ibarra Guerrero, profesional en publicidad  y Mercadeo con más de 15 años de experiencia en el medio de las marcas.</p>
                                            <p class="text-pwhite text-justfy popps-r pt-18">Trabajo como diseñador para in house en el sector farmacéutico desarrollando nuevos productos OTC y veterinarios, trabajo en agencia de casting perfilando y coordinando personal para reconocidas producciones de televisión, comerciales y agencias BTLS representando marcas en sus diversas activaciones.</p>
                                            <p class="text-pwhite text-justfy popps-r pt-18">Actualmente representa, perfila, coordina y capacita nuevos talentos en producciones de comerciales, eventos para agencias BTLS en sus diversas activaciones de marcas.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                       
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid mb-115px" id="aliados">
            <div class="row d-flex justify-content-center mb-7">
                <h5 class="text-center text-pwhite text-capitalize kabel-demi pt-55">aliados</h5>
            </div>
            <div class="row d-flex flex-wrap justify-content-between align-items-center brands-3 mb-7">
                <div class="col-md-3">
                    <img class="l-tengo" src="/img/fotos version 1900x--/aliados logos/la tengo 532 x 320.png" alt="La Tengo - Agencia">
                </div>
                <div class="col-md-5 d-flex justify-content-center">
                    <img class="casa-dc" src="/img/fotos version 1900x--/aliados logos/la casa del diseño 790 x 164.png" alt="La casa del diseño Colombiano">
                </div>
                <div class="col-md-3">
                    <img class="proyectil" src="/img/fotos version 1900x--/aliados logos/540 x 260 proyectil.png" alt="Proyectil">
                </div>
            </div>
            <div class="row d-flex flex-wrap justify-content-center align-items-center">
                <div class="col-md-2">
                    <img class="FHC" src="/img/fotos version 1900x--/aliados logos/ong 481 x 483.png" alt="Fundación Héroes de Colombia">
                </div>
                <div class="col-md-2">
                    <img class="PipeB" src="/img/fotos version 1900x--/aliados logos/pipe bueno 305x463.png" alt="Pipe Bueno">
                </div>
            </div>
        </section>
        <section class="container-fluid mb-7" id="contacto">
            <div class="row d-flex justify-content-center mb-7">
                <h3 class="text-center text-capitalize text-pwhite kabel-demi pt-55">contáctanos</h3>
            </div>
            <div class="row d-flex justify-content-center form-wrapper">
                <form class="col-md-8 fadeInUpBig animated" action="/users/contact" method="post">
                    <div class="row d-flex flex-wrap justify-content-center mb-7">
                        <h5 class="text-center text-pwhite ail-r pt-18">Déjanos contar tu historia!</h5>
                    </div>
                    <div class="row d-flex flex-wrap justify-content-center">
                        <div class="col-md-5 mb-form">
                            <input class="w-100 form-control popps-r" type="text" name="name" placeholder="Nombre" required>
                        </div>
                        <div class="col-md-5 mb-form">
                            <input class="w-100 form-control popps-r" type="text" name="surname" placeholder="Apellidos" required>
                        </div>
                        <div class="col-md-5 mb-form">
                            <input class="w-100 form-control popps-r" type="email" name="email" placeholder="Correo electrónico" required>
                        </div>
                        <div class="col-md-5 mb-form">
                            <input class="w-100 form-control popps-r" type="text" name="mobileNumber" placeholder="Celular">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-10 mb-form">
                            <textarea class="w-100 form-control" cols="30" rows="10" name="message" placeholder="Mensaje"></textarea>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center align-items-center btn-wrapper">
                        <button type="submit" class="btn btn-white text-center text-black popps-sb">Enviar</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
</body>
<%- include('./includes/footer') %>
</html>