<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head') %>
</head>
<body class="bg-pblack">
    <%- include('./includes/header') %>
    <main>
        <section class="container-fluid">
            <div class="row parallax-section">
                <article class="col-12 col-md-6 parallax-article bg-img-projects d-flex justify-content-center align-items-center">
                    <div class="caption-container p-3">
                        <a class="text-pwhite text-uppercase" href="#proyectos">proyectos</a>
                    </div>
                </article>
                <article class="col-12 col-md-6 parallax-article bg-img-services d-flex justify-content-center align-items-center">
                    <div class="caption-container p-3">
                        <a class="text-pwhite text-uppercase" href="#servicios">servicios</a>
                    </div>
                </article>
            </div>
            <div class="row parallax-section">
                <article class="col-12 col-md-6 parallax-article bg-img-us d-flex justify-content-center align-items-center">
                    <div class="caption-container p-3">
                        <a class="text-pwhite text-uppercase" href="#nosotros">sobre nosotros</a>
                    </div>
                </article>
                <article class="col-12 col-md-6 parallax-article bg-img-staff d-flex justify-content-center align-items-center">
                    <div class="caption-container p-3">
                        <a class="text-pwhite text-uppercase" href="#equipo">nuestro equipo</a>
                    </div>
                </article>
            </div>
            <div class="row parallax-section mb-3">
                <article class="col-12 col-md-6 parallax-article bg-img-partners d-flex justify-content-center align-items-center">
                    <div class="caption-container p-3">
                        <a class="text-pwhite text-uppercase" href="#aliados">aliados</a>
                    </div>
                </article>
                <article class="col-12 col-md-6 parallax-article bg-img-contact d-flex justify-content-center align-items-center">
                    <div class="caption-container p-3">
                        <a class="text-pwhite text-uppercase" href="#contacto">contáctanos</a>
                    </div>
                </article>
            </div>
        </section>
        <div class="container mb-3">
            <div class="row d-flex justify-content-center align-items-center">
                <img src="/img/fotos version 1900x--/WE--- TOGETHER GIF FINAL.gif" alt="T2F together">
            </div>
        </div>
        <section class="container-fluid" id="nosotros">
            <div class="row d-flex justify-content-center pl-18421">
                <h2 class="col-10 text-pwhite text-uppercase">sobre nosotros</h2>
            </div>
            <div class="row d-flex flex-wrap justify-content-center">
                <div class="col-12 col-md-5 p-36842">
                    <p class="text-pwhite text-justify"><strong class="font-weight-bold">Take Two Films</strong>, ubicada en la vibrante Bogotá es más que una simpleproductora audiovisual: es un colectivo de creatividad en constante evolución que se ha ido especializando en la creación de contenido innovador como largometrajes y cortometrajes de ficción, así como en la producción de videoclips y comerciales.</p>
                    <p class="text-pwhite text-justify">Fundada en junio de 2015, nuestra compañía abarca todas las etapas de la producción, desde el desarrollo, pre producción, producción y post producción a nivel nacional e internacional.</p>
                    <p class="text-pwhite text-justify">María Alejandra Delgado y Juan David Tobón son los fundadores y visionarios detrás de <strong class="font-weight-bold">Take Two Films</strong>, traen consigo más de 20 años de experiencia en la industria audiovisual.</p>
                </div>
                <div class="col-12 col-md-5 p-36842">
                    <p class="text-pwhite text-justify">Su trayectoria en diversas producciones ha nutrido a Take <strong class="font-weight-bold">Take Two Films</strong> con un conocimiento profundo; sumando la participación de jóvenes talentos que hacen un gran match a la hora de crear y producir en esta nueva etapa de la industria.</p>
                    <p class="text-pwhite text-justify">Nuestro compromiso con la innovación en los diferentes mercados, con nuevos talentos, promoviendo la diversidad y la inclusión en cada una de nuestras historias.</p>
                    <p class="text-pwhite text-justify"><strong class="font-weight-bold">Take Two Films</strong> brilla intensamente como un faro de creatividad y distinción en la narración audiovisual, donde soñamos las ideas, se transforman y cobran vida en cada proyecto.</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center mb-7">
                <h5 class="text-pwhite text-uppercase text-center">cada familia tiene una historia</h5>
                <div class="col-12 d-flex justify-content-center mb-7">
                    <iframe class="reel" src="https://player.vimeo.com/video/943843741?h=b541312423&autoplay=1&byline=0" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                </div>
                <h5 class="text-pwhite text-uppercase text-center mb-7">esta es la nuestra</h5>
            </div>
        </section>
        <section class="container-fluid mb-7" id="proyectos">
            <div class="row d-flex justify-content-center pl-18421">
                <h4 class="col-10 text-pwhite text-uppercase  mb-7">proyectos</h4>
            </div>
            <div class="row parallax-section">
                <article class="col-12 col-md-6 parallax-article bg-img-fumo d-flex justify-content-center align-items-center">
                    <div class="caption-container p-3">
                        <a href="">
                            <h3 class="text-pwhite">Videoclip - Fumo y Bebo</h3>
                        </a>
                    </div>
                </article>
                <article class="col-12 col-md-6 parallax-article bg-img-restos d-flex justify-content-center align-items-center">
                    <div class="caption-container p-3">
                        <a href="">
                            <h3 class="text-pwhite">Cortometraje - los restos de la cama</h3>
                        </a>
                    </div>
                </article>
            </div>
            <div class="row parallax-section">
                <article class="col-12 col-md-6 parallax-article bg-img-opening d-flex justify-content-center align-items-center">
                    <div class="caption-container p-3">
                        <a href="">
                            <h3 class="text-pwhite">Opening Concierto</h3>
                        </a>
                    </div>
                </article>
                <article class="col-12 col-md-6 parallax-article bg-img-tarde d-flex justify-content-center align-items-center">
                    <div class="caption-container p-3">
                        <a href="">
                            <h3 class="text-pwhite">Videoclip - Volviste Tarde</h3>
                        </a>
                    </div>
                </article>
            </div>
            <div class="row parallax-section">
                <article class="col-12 col-md-6 parallax-article bg-img-transmi d-flex justify-content-center align-items-center">
                    <div class="caption-container p-3">
                        <a href="">
                            <h3 class="text-pwhite">Transmilenials Piloto</h3>
                        </a>
                    </div>
                </article>
                <article class="col-12 col-md-6 parallax-article bg-img-pipe d-flex justify-content-center align-items-center">
                    <div class="caption-container p-3">
                        <a href="">
                            <h3 class="text-pwhite">Concierto 15 años Pipe Bueno</h3>
                        </a>
                    </div>
                </article>
            </div>
            <div class="row parallax-section">
                <article class="col-12 col-md-6 parallax-article bg-img-behind d-flex justify-content-center align-items-center">
                    <div class="caption-container p-3">
                        <a href="">
                            <h3 class="text-pwhite">Behind the scenes - Pipe Bueno</h3>
                        </a>
                    </div>
                </article>
                <article class="col-12 col-md-6 parallax-article bg-img-fuera d-flex justify-content-center align-items-center">
                    <div class="caption-container p-3">
                        <a href="">
                            <h3 class="text-pwhite">Podcast - Fuera de Set</h3>
                        </a>
                    </div>
                </article>
            </div>
            <div class="row parallax-section">
                <article class="col-12 col-md-6 parallax-article bg-img-misteriosa d-flex justify-content-center align-items-center">
                    <div class="caption-container p-3">
                        <a href="">
                            <h3 class="text-pwhite">Misteriosa - Piloto</h3>
                        </a>
                    </div>
                </article>
                <article class="col-12 col-md-6 parallax-article bg-img-nono d-flex justify-content-center align-items-center">
                    <div class="caption-container p-3">
                        <a href="">
                            <h3 class="text-pwhite">Videoclip - No me digas que no</h3>
                        </a>
                    </div>
                </article>
            </div>
            <div class="row parallax-section">
                <article class="col-12 col-md-6 parallax-article bg-img-cantina d-flex justify-content-center align-items-center">
                    <div class="caption-container p-3">
                        <a href="">
                            <h3 class="text-pwhite">Videoclip - La Cantina</h3>
                        </a>
                    </div>
                </article>
                <article class="col-12 col-md-6 parallax-article bg-img-casa d-flex justify-content-center align-items-center">
                    <div class="caption-container p-3">
                        <a href="">
                            <h3 class="text-pwhite">Capsulas - La Casa del Diseño Colombiano</h3>
                        </a>
                    </div>
                </article>
            </div>
            <div class="row parallax-section">
                <article class="col-12 col-md-6 parallax-article bg-img-movistar d-flex justify-content-center align-items-center">
                    <div class="caption-container p-3">
                        <a href="">
                            <h3 class="text-pwhite">Concierto Movistar</h3>
                        </a>
                    </div>
                </article>
                <article class="col-12 col-md-6 parallax-article bg-img-off d-flex justify-content-center align-items-center">
                    <div class="caption-container p-3">
                        <a href="">
                            <h3 class="text-pwhite">Podcast - VOZ EN OFF</h3>
                        </a>
                    </div>
                </article>
            </div>
        </section>
        <section class="container-fluid mb-7" id="servicios">
            <div class="row d-flex flex-wrap justify-content-center">
                <h4 class="text-pwhite text-uppercase col-12 text-center mb-5">servicios</h4>
                <p class="text-pwhite text-center mb-2">Somos una Empresa 100% Colombiana que Ofrece servicios de producción con un enfoque fresco y vanguardista para la realización de obras cinematográficas, series, videoclips y producciones audiovisuales publicitarias. A través de La Ley 1556 que hace parte de la normatividad para la industria audiovisual.</p>
                <p class="text-pwhite text-center mb-2">En nuestro equipo, abordamos todos los aspectos de la creación audiovisual con un enfoque fresco y vanguardista. Nuestro talentoso equipo profesional y creativo se ocupa de cada etapa: desarrollo, preproducción, producción y postproducción.</p>
                <p class="text-pwhite text-center mb-7">Comprometidos a impulsar cada proyecto con creatividad y pasión, asegurando que cada narrativa audiovisual cobre vida de manera única. Desde la chispa inicial hasta el guión completo, estamos dedicados a transformar ideas en experiencias visuales impactantes y memorables que conecten al mundo.</p>
            </div>
            <div class="row">
                <div id="customCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner row d-flex flex-wrap">
                      <div class="carousel-item col-12 col-md-6 active">
                        <img src="/img/fotos version 1900x--/fotos servicios seccion3/servicios de produccion 950 x 596 .png" class="d-block w-100" alt="Servicios de Producción">
                        <div class="carousel-caption d-none d-md-block p-3">
                          <h2 class="text-pwhite">Servicios de Producción</h2>
                        </div>
                      </div>
                      <div class="carousel-item col-12 col-md-6">
                        <img src="/img/fotos version 1900x--/fotos servicios seccion3/realizacion de contenido 950 x 596.png" class="d-block w-100" alt="Realización de Contenido">
                        <div class="carousel-caption d-none d-md-block p-3">
                          <h2 class="text-pwhite">Realización de Contenido</h2>
                        </div>
                      </div>
                      <div class="carousel-item col-12 col-md-6">
                        <img src="/img/fotos version 1900x--/fotos servicios seccion3/guiones 950 x 596 .png" class="d-block w-100" alt="Guiones">
                        <div class="carousel-caption d-none d-md-block p-3">
                          <h2 class="text-pwhite">Guiones</h2>
                        </div>
                      </div>
                      <div class="carousel-item col-12 col-md-6">
                        <img src="/img/fotos version 1900x--/fotos servicios seccion3/produccion de comerciales 950 x 596 .png" class="d-block w-100" alt="Producción de Comerciales">
                        <div class="carousel-caption d-none d-md-block p-3">
                          <h2 class="text-pwhite">Producción de Comerciales</h2>
                        </div>
                      </div>
                      <div class="carousel-item col-12 col-md-6">
                        <img src="/img/fotos version 1900x--/fotos servicios seccion3/post produccion 950 x 596 .png" class="d-block w-100" alt="Post Producción">
                        <div class="carousel-caption d-none d-md-block p-3">
                          <h2 class="text-pwhite">Post Producción</h2>
                        </div>
                      </div>
                      <div class="carousel-item col-12 col-md-6">
                        <img src="/img/fotos version 1900x--/fotos servicios seccion3/asesoria de proyectos 950 x 596 .png" class="d-block w-100" alt="Asesoría de Proyectos">
                        <div class="carousel-caption d-none d-md-block p-3">
                          <h2 class="text-pwhite">Asesoría de Proyectos</h2>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#customCarousel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#customCarousel" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>
        <section class="container-fluid mb-7" id="equipo">
            <div class="row d-flex flex-wrap justify-content-center mb-7">
                <div class="col-md-9">
                    <h4 class="text-center text-pwhite text-uppercase mb-5">nuestro equipo</h4>
                    <p class="text-pwhite text-center">Déjanos contar tu historia</p>
                </div>
            </div>
            <div class="row d-flex flex-wrap justify-content-center">
                <div class="col-md-9">
                    <div class="row d-flex flex-wrap justify-content-between mb-5">
                         <div class="card col-md-2 bg-pblack">
                            <img src="/img/fotos version 1900x--/fotos Equipo seccion 4/Juan Tobon pepino CEO  242 x 242.png" alt="JUAN TOBÓN" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-pwhite text-uppercase text-center">JUAN TOBÓN</h5>
                                <p class="card-text text-pwhite text-uppercase text-center">CEO, FUNDADOR, PRODUCTOR</p>
                                <a href="" class="btn btn-white text-black">BIO</a>
                            </div>
                         </div>
                         <div class="card col-md-2 bg-pblack">
                            <img src="/img/fotos version 1900x--/fotos Equipo seccion 4/Maria delgado CEO  242 x 242.png" alt="MARIA DELGADO" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-pwhite text-uppercase text-center">MARIA DELGADO</h5>
                                <p class="card-text text-pwhite text-uppercase text-center">CEO, FUNDADORA, PRODUCTORA</p>
                                <a href="" class="btn btn-white text-black">BIO</a>
                            </div>
                         </div>
                         <div class="card col-md-2 bg-pblack">
                            <img src="/img/fotos version 1900x--/fotos Equipo seccion 4/jeiver pinto director guionista  242 x 242.png" alt="JEIVER PINTO" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-pwhite text-uppercase text-center">JEIVER PINTO</h5>
                                <p class="card-text text-pwhite text-uppercase text-center">DIRECTOR Y GUIONISTA</p>
                                <a href="" class="btn btn-white text-black">BIO</a>
                            </div>
                         </div>
                         <div class="card col-md-2 bg-pblack">
                            <img src="/img/fotos version 1900x--/fotos Equipo seccion 4/laura crismatt directora creativa 242 x 242.png" alt="LARUA CRISMATT" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-pwhite text-uppercase text-center">LARUA CRISMATT</h5>
                                <p class="card-text text-pwhite text-uppercase text-center">DIRECTORA CREATIVA</p>
                                <a href="" class="btn btn-white text-black">BIO</a>
                            </div>
                         </div>                   
                    </div>
                    <div class="row d-flex flex-wrap justify-content-between">
                         <div class="card col-md-2 bg-pblack">
                            <img src="/img/fotos version 1900x--/fotos Equipo seccion 4/felipe camargo editor 242 x 242.png" alt="FELIPE CAMARGO" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-pwhite text-uppercase text-center">FELIPE CAMARGO</h5>
                                <p class="card-text text-pwhite text-uppercase text-center">EDITOR</p>
                                <a href="" class="btn btn-white text-black">BIO</a>
                            </div>
                         </div>
                         <div class="card col-md-2 bg-pblack">
                            <img src="/img/fotos version 1900x--/fotos Equipo seccion 4/laura bonilla directora creativa 242 x 242.png" alt="LAURA BONILLA" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-pwhite text-uppercase text-center">LAURA BONILLA</h5>
                                <p class="card-text text-pwhite text-uppercase text-center">DIRECTORA CREATIVA</p>
                                <a href="" class="btn btn-white text-black">BIO</a>
                            </div>
                         </div>
                         <div class="card col-md-2 bg-pblack">
                            <img src="/img/fotos version 1900x--/fotos Equipo seccion 4/Valentina cerci community manegar 242 x 242.png" alt="VALENTINA CICERI" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-pwhite text-uppercase text-center">VALENTINA CICERI</h5>
                                <p class="card-text text-pwhite text-uppercase text-center">COMMUNITY MANAGER</p>
                                <a href="" class="btn btn-white text-black">BIO</a>
                            </div>
                         </div>
                         <div class="card col-md-2 bg-pblack">
                            <img src="/img/fotos version 1900x--/fotos Equipo seccion 4/Mario Ibarra 242 x 242.png" alt="MARIO IBARRA" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-pwhite text-uppercase text-center">MARIO IBARRA</h5>
                                <p class="card-text text-pwhite text-uppercase text-center">CASTING, DISEÑADOR, PUBLICISTA</p>
                                <a href="" class="btn btn-white text-black">BIO</a>
                            </div>
                         </div>                       
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid mb-7" id="aliados">
            <div class="row d-flex justify-content-center mb-7">
                <h5 class="text-center text-pwhite text-uppercase">aliados</h5>
            </div>
            <div class="row d-flex flex-wrap justify-content-between align-items-center brands-3 mb-7">
                <div class="col-md-3">
                    <img class="l-tengo" src="/img/fotos version 1900x--/aliados logos/la tengo 532 x 320.png" alt="La Tengo - Agencia">
                </div>
                <div class="col-md-5">
                    <img class="casa-dc" src="/img/fotos version 1900x--/aliados logos/la casa del diseño 790 x 164.png" alt="La casa del diseño Colombiano">
                </div>
                <div class="col-md-3">
                    <img class="proyectil" src="/img/fotos version 1900x--/aliados logos/540 x 260 proyectil.png" alt="Proyectil">
                </div>
            </div>
            <div class="row d-flex flex-wrap justify-content-center align-items-center">
                <div class="col-md-2">
                    <img class="FHC" src="/img/fotos version 1900x--/aliados logos/ong 481 x 483.png" alt="Fundación Héroes de Colombia">
                </div>
                <div class="col-md-2">
                    <img class="PipeB" src="/img/fotos version 1900x--/aliados logos/pipe bueno 305x463.png" alt="Pipe Bueno">
                </div>
            </div>
        </section>
        <section class="container-fluid mb-7" id="contacto">
            <div class="row d-flex justify-content-center mb-7">
                <h3 class="text-center text-uppercase text-pwhite">contáctanos</h3>
            </div>
            <div class="row d-flex justify-content-center form-wrapper">
                <form class="col-md-8" action="/users/contact" method="post">
                    <div class="row d-flex flex-wrap justify-content-center mb-7">
                        <h5 class="text-center text-pwhite">Déjanos contar tu historia!</h5>
                    </div>
                    <div class="row d-flex flex-wrap justify-content-center mb-4">
                        <div class="mb-4 col-md-5">
                            <input class="w-100 form-control" type="text" name="name" placeholder="Nombre" required>
                        </div>
                        <div class="mb-4 col-md-5">
                            <input class="w-100 form-control" type="text" name="surname" placeholder="Apellidos" required>
                        </div>
                        <div class="mb-4 col-md-5">
                            <input class="w-100 form-control" type="email" name="email" placeholder="Correo electrónico" required>
                        </div>
                        <div class="col-md-5">
                            <input class="w-100 form-control" type="text" name="mobileNumber" placeholder="Celular">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="mb-5 col-md-10">
                            <textarea class="w-100 form-control" cols="30" rows="10" name="message" placeholder="Mensaje"></textarea>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center align-items-center btn-wrapper">
                        <button type="submit" class="col-md-2 btn btn-white text-black">Enviar  <i class="bi bi-send"></i></button>
                    </div>
                </form>
            </div>
        </section>
    </main>
</body>
<%- include('./includes/footer') %>
</html>